.bond-chart-wrapper {
  position: relative;
  min-height: 500px;
  width: 100%;
}
.bond-chart-wrapper .bond-chart-container {
  width: 100%;
  height: 100%;
}
.bond-chart-wrapper .bond-chart-container .bond-chart-canvas {
  width: 100%;
  height: 100%;
}
.bond-chart-wrapper .bond-chart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  cursor: move;
  z-index: 5000;
}
