@import "less/bw-mixins";

.bond-chart-wrapper {

  &, & * {
    .no-select();
  }

  position: relative;
  min-height: 400px;
  width: 100%;

  .bond-chart-container {
    width: 100%;
    height: 100%;

    .bond-chart-canvas {
      width: 100%;
      height: 100%;
    }
  }

  .bond-chart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: ew-resize;
    z-index: 5000;
  }
}

.bond-grid-wrapper {
  position: relative;
  width: 100%;

  &, & * {
    .selectable();
  }

  .bond-grid-table-wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 520px;

    .bond-grid-table {
      width: 100%;

      .bond-grid-cell, .bond-grid-header-cell {
        white-space:nowrap;
        padding: 5px;
        border: 1px solid #666;
      }

      .bond-grid-header-cell {
        cursor: default;

        &.selected {
          background: #999;
          color: #FFF;
        }

        &.reversed {
          .grid-col-button {
            cursor: pointer;
            i {
              &.fa-caret-down {
                display: none;
              }
              &.fa-caret-up {
                display: block;
              }
            }
          }
        }

        & > div {
          padding-right: 40px;
          position: relative;

          .grid-col-button {
            cursor: pointer;
            i {
              position: absolute;
              right: 0;
              top: 3px;

              &.fa-caret-down {
                display: block;
              }
              &.fa-caret-up {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .bond-grid-pagination-button {
    padding: 10px;
    cursor: pointer;

    &.selected {
      color: #F00;
      text-decoration: underline;
    }
  }

  .bond-grid-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: ew-resize;
    z-index: 5000;
  }
}

.bond-modal-wrapper {

  .bond-modal-container {
    display: none;

    .bond-modal-view {
      position: fixed;
      background: #FFF;
      z-index: 5001;
    }

    .bond-modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 5000;
    }

    .bond-modal-interactive-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5002;
      cursor: move;
    }

    .bond-modal-pagination-wrapper {
      position: fixed;
      bottom: 20px;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      height: 50px;
      background: #666;
      z-index: 5003;
      opacity: 0.3;

      &:hover {
        opacity: 0.7;
      }

      .bond-modal-pagination-button {
        height: 100%;
        width: 54px;
        margin: 5px;
        display: inline-block;
        z-index: 5001;
        color: #FFF;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.bond-chart-tooltip-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  display: none;
  z-index: 5000;
  opacity: 0.9;
  .box-shadow();

  .bond-chart-tooltip-container {
    position: relative;

    .bond-chart-tooltip-inner {
      position: absolute;
      z-index: 5001;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #FFF;
    }

    .bond-chart-tooltip-arrow {
      position: absolute;
      width: 20px;
      height: 20px;
      background: #FFF;
      .transformed(rotate(45deg));
      .box-shadow();
    }
  }
}

.bond-select-wrapper {
  position: relative;

  .bond-select-container {

    .bond-select-selected-item {
      cursor: pointer;
    }

    .bond-select-items {
      position: absolute;
      top: 30px;
      right: 0;
      padding: 5px 0;
      min-width: 150px;
      text-align: left;
      z-index: 5001;
      color: #666;
      background: #FFF;
      list-style: none;
      white-space: nowrap;
      .box-shadow();

      .bond-select-item {
        padding: 3px 10px;
        cursor: pointer;

        &:hover {
          background: #999;
          color: #FFF;
        }

        &.selected, &.selected:hover {
          background: #EEE;
          color: #666;
          cursor: default;
        }
      }
    }

    .bond-select-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.4);
      z-index: 5000;
      cursor: default;
    }
  }
}

/** Annotator */
.annotator-outer {
  z-index: 5005;
  .box-shadow()!important;

  .annotator-controls {
    background: #999;
    border-radius: 0;

    .annotator-cancel, .annotator-save {
      background: #FFF;
      border-radius: 0;
      border: 0;
      outline: none;

      &:hover {
        background: #666;
        .box-shadow();
      }
    }
  }

  .annotator-widget {
    border-radius: 0;
  }
}

/** MultiTool */
.bw-multi-tool-wrapper {

  .bw-multi-tool-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 5000;
    cursor: default;
  }

  .bw-multi-tool-container {
    position: fixed;
    z-index: 5001;
    top: 0;
    left: 0;
    margin-top: -15px;
    margin-left: 40px;
    background: #FFF;
    .box-shadow();

    .bw-multi-tool-arrow {
      position: absolute;
      width: 20px;
      height: 20px;
      background: #666;
      top: 5px;
      left: -10px;
      right: auto;
      .transformed(rotate(45deg));
      .box-shadow();
    }
    .bw-multi-tool-header {
      padding: 5px;
      background: #666;
      color: #FFF;
      font-weight: bold;
      position: relative;

      .fa {
        position: absolute;
        font-size: 16px;
        right: 8px;
        top: 8px;
      }
    }
    .bw-multi-tool-body {
      padding: 5px 0;
      background: #FFF;
      font-weight: bold;

      ul {
        padding: 0;
        margin: 0;
        background: #FFF;

        li {
          padding: 5px 40px 5px 5px;
          background: #FFF;
          color: #999;
          cursor: pointer;
          list-style: none;
          font-weight: normal;
          position: relative;

          &:hover {
            background: #999;
            color: #FFF;
          }

          &.disabled, &.disabled:hover {
            cursor: default;
            color: #CCC;
            background: #FFF;
          }

          .fa {
            position: absolute;
            font-size: 16px;
            right: 8px;
            top: 8px;
          }
        }
      }
    }

    &.reversed {
      margin-left: -240px;
      .bw-multi-tool-arrow {
        left: auto;
        right: -10px;
      }
    }
  }
}

