/** Colors */
/** Borders */
/** Speed */
/** Sizes */
/** Z-index */
/** CSS3-classes */
/** Buttons */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot') format('embedded-opentype'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-eye:before {
  content: "\e000";
}
.icon-mail:before {
  content: "\e002";
}
.icon-bell:before {
  content: "\e006";
}
.icon-cog:before {
  content: "\e023";
}
.icon-search:before {
  content: "\e036";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-play:before {
  content: "\e052";
}
.icon-head:before {
  content: "\e074";
}
.icon-star:before {
  content: "\e093";
}
.icon-content-left:before {
  content: "\e101";
}
.icon-flag:before {
  content: "\e108";
}
.icon-maximize:before {
  content: "\e112";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}
.icon-ellipsis:before {
  content: "\e129";
}
.bw-chart-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.bw-chart-wrapper,
.bw-chart-wrapper * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bw-chart-wrapper .bw-chart-container {
  width: 100%;
  height: 100%;
}
.bw-chart-wrapper .bw-chart-container .bw-chart-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
.bw-chart-wrapper .bw-chart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  cursor: ew-resize;
  z-index: 5000;
}
.bw-chart-wrapper .bw-chart-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  z-index: 5000;
  display: none;
  text-align: center;
}
.bw-chart-wrapper .bw-chart-msg span {
  font-size: 14px;
  color: #b6bfca;
}
.bw-chart-filters {
  width: 0;
  height: 0;
}
.fa-candle-chart {
  font-family: FontAwesome;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-candle-chart:before {
  content: "\f1de";
}
.bw-grid-wrapper {
  width: 100%;
}
.bw-grid-wrapper,
.bw-grid-wrapper * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
}
.bw-grid-wrapper .bw-grid-container {
  position: relative;
  width: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper table,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header table {
  width: 100%;
  table-layout: fixed;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper table .header-cell,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header table .header-cell {
  background: #c4cbd4;
  border: 1px solid #ecebeb;
  height: 36px;
  width: 170px;
  padding: 0 20px;
  font-weight: 400;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper table .header-cell div,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header table .header-cell div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper table .separator-cell,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header table .separator-cell {
  background: #FFF;
  height: 7px;
  width: 170px;
  border: 1px solid #ecebeb;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper table .row-cell,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header table .row-cell {
  font-size: 12px;
  vertical-align: top;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper table .row-cell div,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header table .row-cell div {
  width: 170px;
  padding: 0 10px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper table .row-cell div .group-label,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header table .row-cell div .group-label {
  color: #4b4a4a;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper table .row-cell div .fa,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header table .row-cell div .fa,
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-groups-wrapper table .row-cell div .number-of-rows,
.bw-grid-wrapper .bw-grid-container.view-type-A .groups-table-header table .row-cell div .number-of-rows {
  color: #bcbec0;
  margin: 0 7px 0 4px;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header {
  position: absolute;
  top: 0;
  left: 170px;
  width: 24px;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table {
  width: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .select-all-checkbox-cell,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .select-all-checkbox-cell {
  background: #c4cbd4;
  border: 1px solid #ecebeb;
  height: 36px;
  width: 24px;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .select-all-checkbox-cell .select-all-checkbox,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .select-all-checkbox-cell .select-all-checkbox {
  cursor: pointer;
  border: 1px solid #c4c8ce;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  text-align: center !important;
  background: #ffffff;
  font-size: 8px;
  padding-bottom: 8px;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .select-all-checkbox-cell .select-all-checkbox i,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .select-all-checkbox-cell .select-all-checkbox i {
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .separator-cell,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .separator-cell {
  background: #FFF;
  height: 7px;
  width: 170px;
  border: 1px solid #ecebeb;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .checkboxes-column-row td,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .checkboxes-column-row td {
  height: 26px;
  border-left: 1px solid #ecebeb;
  border-right: 1px solid #ecebeb;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .checkboxes-column-row td .grid-cell-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .checkboxes-column-row td .grid-cell-wrapper {
  border: 1px solid #c4c8ce;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  text-align: center !important;
  background: #ffffff;
  font-size: 8px;
  padding-bottom: 8px;
  line-height: 25px;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .checkboxes-column-row td .grid-cell-wrapper i,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .checkboxes-column-row td .grid-cell-wrapper i {
  display: none;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .checkboxes-column-row.selected .grid-cell-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .checkboxes-column-row.selected .grid-cell-wrapper {
  background: #00aeef;
  border: 1px solid #00aeef;
  color: #ffffff;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .checkboxes-column-row.selected .grid-cell-wrapper i,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .checkboxes-column-row.selected .grid-cell-wrapper i {
  display: block;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-checkboxes-wrapper table .checkboxes-column-row.hover td,
.bw-grid-wrapper .bw-grid-container.view-type-A .checkboxes-table-header table .checkboxes-column-row.hover td {
  background: #e5f7fd;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-info-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .info-table-header {
  position: absolute;
  width: 38px;
  top: 0;
  right: 0;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-info-wrapper table,
.bw-grid-wrapper .bw-grid-container.view-type-A .info-table-header table {
  width: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-info-wrapper table .just-empty-cell,
.bw-grid-wrapper .bw-grid-container.view-type-A .info-table-header table .just-empty-cell {
  background: #c4cbd4;
  border: 1px solid #ecebeb;
  height: 36px;
  width: 38px;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-info-wrapper table .separator-cell,
.bw-grid-wrapper .bw-grid-container.view-type-A .info-table-header table .separator-cell {
  background: #FFF;
  height: 7px;
  width: 170px;
  border: 1px solid #ecebeb;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-info-wrapper table .info-column-row td,
.bw-grid-wrapper .bw-grid-container.view-type-A .info-table-header table .info-column-row td {
  height: 26px;
  padding: 0;
  border-left: 1px solid #ecebeb;
  border-right: 1px solid #ecebeb;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-info-wrapper table .info-column-row td .grid-cell-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .info-table-header table .info-column-row td .grid-cell-wrapper {
  text-align: center;
  cursor: pointer;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-info-wrapper table .info-column-row td .grid-cell-wrapper i,
.bw-grid-wrapper .bw-grid-container.view-type-A .info-table-header table .info-column-row td .grid-cell-wrapper i {
  line-height: 25px;
  display: none;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-info-wrapper table .info-column-row.hover .grid-cell-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .info-table-header table .info-column-row.hover .grid-cell-wrapper {
  background: #e5f7fd;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-info-wrapper table .info-column-row.hover .grid-cell-wrapper i,
.bw-grid-wrapper .bw-grid-container.view-type-A .info-table-header table .info-column-row.hover .grid-cell-wrapper i {
  display: block;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header {
  width: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table {
  width: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table thead .header-columns td,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table thead .header-columns td {
  background: #c4cbd4;
  color: #4b4a4a;
  border: 1px solid #ecebeb;
  height: 36px;
  font-weight: 400;
  cursor: pointer;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table thead .header-columns td .grid-cell-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table thead .header-columns td .grid-cell-wrapper {
  position: relative;
  padding: 0 30px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table thead .header-columns td .grid-cell-wrapper i,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table thead .header-columns td .grid-cell-wrapper i {
  position: absolute;
  top: 2px;
  right: 10px;
  text-align: center;
  display: none;
  width: 15px;
  height: 15px;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table thead .header-columns td.selected,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table thead .header-columns td.selected {
  background: #00aeef;
  color: #ffffff;
  font-weight: 600;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table thead .header-columns td.selected .grid-cell-wrapper i,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table thead .header-columns td.selected .grid-cell-wrapper i {
  display: block;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row td,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table tbody .grid-row td {
  height: 26px;
  color: #4b4a4a;
  border-left: 1px solid #ecebeb;
  border-right: 1px solid #ecebeb;
  cursor: default;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row td .grid-cell-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table tbody .grid-row td .grid-cell-wrapper {
  position: relative;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 25px;
  z-index: 0;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row td .grid-cell-wrapper.link-cell:hover,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table tbody .grid-row td .grid-cell-wrapper.link-cell:hover {
  color: #00aeef;
  cursor: pointer;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row td .grid-cell-wrapper *,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table tbody .grid-row td .grid-cell-wrapper * {
  line-height: 25px;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row td.selected,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table tbody .grid-row td.selected {
  background: #00aeef;
  color: #ffffff;
  font-weight: 600;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.hover .grid-cell-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-A .main-table-header .bw-grid-static-container table tbody .grid-row.hover .grid-cell-wrapper {
  background: #e5f7fd;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-floating-header-wrapper {
  width: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-floating-header-wrapper .bw-grid-floating-header-container {
  position: relative;
  width: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-slider-h {
  width: 100%;
  height: 10px;
  padding: 1px;
  background: #FFF;
  position: static;
  border-top: 1px solid #c4c8ce;
  bottom: 0;
  left: 0;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-slider-h .bw-grid-slider-caret {
  width: 0;
  height: 7px;
  background: #8e8d8d;
  cursor: ew-resize;
  border-radius: 3px;
  opacity: 0.5;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-slider-h .bw-grid-slider-caret:hover,
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-slider-h .bw-grid-slider-caret.hover {
  background: #454545;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-slider-v {
  position: absolute;
  top: 37px;
  right: 9px;
  width: 0;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-slider-v .bw-grid-slider-caret {
  width: 7px;
  height: 0;
  background: #8e8d8d;
  cursor: ns-resize;
  border-radius: 3px;
  opacity: 0.5;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-slider-v .bw-grid-slider-caret:hover,
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-slider-v .bw-grid-slider-caret.hover {
  background: #454545;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 5000;
  display: none;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-grid-overlay div {
  font-size: 36px;
  color: #c4cbd4;
  padding-top: 200px;
  text-align: center;
}
.bw-grid-wrapper .bw-grid-container.view-type-A .bw-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 5000;
  display: none;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-groups-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-checkboxes-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-info-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-floating-header-wrapper,
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-slider-h,
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-slider-v,
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-overlay {
  display: none;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper {
  width: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container {
  width: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table {
  width: 100%;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table thead .header-columns .grid-header-cell {
  padding: 5px 10px;
  border-bottom: 1px dashed #c4c8ce;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table thead .header-columns .grid-header-cell * {
  font-weight: 600;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row {
  vertical-align: top;
  color: #757676;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row td {
  padding: 5px 10px;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.group-header td {
  color: #01539d;
  font-size: 12px;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.group-header td * {
  font-weight: 600;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.group-footer td {
  border-top: 1px dashed #c4c8ce;
  font-size: 12px;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.group-footer td * {
  font-weight: 600;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.grand-total td {
  border-top: 1px solid #c4c8ce;
  font-size: 12px;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.grand-total td * {
  font-weight: 700;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.empty-row td {
  padding: 10px;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.odd-row td,
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-grid-table-wrapper .bw-grid-static-container table tbody .grid-row.even-row td {
  font-size: 12px;
}
.bw-grid-wrapper .bw-grid-container.view-type-B .bw-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 5000;
  display: none;
}
.bw-switch-wrapper .bw-switch-container {
  margin-left: 10px;
  text-align: right;
  float: right;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item {
  background: #e5e9ef;
  display: inline-block;
  position: relative;
  height: 50px;
  width: 45px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item .bw-switch-item-arrow {
  position: absolute;
  display: none;
  bottom: 50px;
  left: 15px;
  width: 20px;
  height: 20px;
  z-index: 5001;
  clip: rect(10px, 32px, 32px, -16px);
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item .bw-switch-item-arrow:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  background: #606060;
  -webkit-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item .bw-switch-item-icon {
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item .bw-switch-item-label {
  display: none;
  position: absolute;
  min-width: 100px;
  left: -29px;
  bottom: 60px;
  background: #606060;
  color: #ffffff;
  padding: 3px;
  white-space: nowrap;
  text-align: center;
  z-index: 5000;
  -webkit-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item .bw-switch-item-label span {
  position: relative;
  z-index: 5002;
  font-size: 10px;
  background: #606060;
  line-height: 28px;
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item.selected {
  background: #d4d9df;
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item:hover .bw-switch-item-label,
.bw-switch-wrapper .bw-switch-container .bw-switch-item:hover .bw-switch-item-arrow {
  display: block;
}
.bw-switch-wrapper .bw-switch-container .bw-switch-item:last-child .bw-switch-item-label {
  left: -52px;
}
.bw-dropdown-wrapper .bw-dropdown-container {
  width: 100%;
  position: relative;
}
.bw-dropdown-wrapper .bw-dropdown-container * {
  font-size: 12px;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-list {
  position: absolute;
  z-index: 5001;
  margin: 0;
  padding: 10px 0;
  min-width: 100%;
  background: #ffffff;
  top: 32px;
  bottom: auto;
  left: 0;
  border: 1px solid #c4c8ce;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-list.shadows {
  -webkit-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-list.reversed {
  bottom: 32px;
  top: auto;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-list .bw-dropdown-item {
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-list .bw-dropdown-item .bw-dropdown-item-label {
  font-size: 12px;
  color: #262626;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-list .bw-dropdown-item .bw-dropdown-item-icon {
  color: #00aeef;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-list .bw-dropdown-item:hover * {
  color: #00aeef;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-selected-item {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 15px 0 10px;
  cursor: default;
  border: 1px solid #c4c8ce;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-selected-item * {
  line-height: 30px;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-selected-item .bw-dropdown-item-icon {
  color: #00aeef;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-selected-item .bw-dropdown-item-label {
  color: #808080;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-btn {
  position: absolute;
  right: 10px;
  top: 0;
  line-height: 30px;
  cursor: pointer;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-btn.fa-caret-down,
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-btn.fa-caret-up {
  color: #00aeef;
  font-size: 14px;
}
.bw-dropdown-wrapper .bw-dropdown-container .bw-dropdown-btn.icon-cross {
  color: #a4a4a4;
}
.bw-dropdown-wrapper .bw-dropdown-container.opened .bw-dropdown-selected-item {
  border: 1px solid #00aeef;
}
.bw-tooltip-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 5000;
  display: none;
  font-size: 14px;
}
.bw-tooltip-wrapper .bw-tooltip-container {
  position: absolute;
  height: auto;
  background: #ffffff;
  z-index: 5001;
  border: 1px solid #ecebeb;
  -webkit-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
}
.bw-tooltip-wrapper .bw-tooltip-container .bw-tooltip-inner {
  background: #ffffff;
}
.bw-tooltip-wrapper .bw-tooltip-container .bw-tooltip-inner .bw-tooltip-header {
  padding: 10px;
  background-color: #d4d9df;
  font-weight: bold;
}
.bw-tooltip-wrapper .bw-tooltip-container .bw-tooltip-inner .bw-tooltip-body {
  padding: 10px;
}
.bw-tooltip-wrapper .bw-tooltip-arrow {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 5001;
}
.bw-tooltip-wrapper .bw-tooltip-arrow:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bw-tooltip-wrapper .bw-tooltip-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: rgba(0, 0, 0, 0);
}
.bw-tooltip-wrapper.placed-upside .bw-tooltip-arrow {
  left: -10px;
  bottom: 20px;
  clip: rect(10px, 32px, 36px, -16px);
}
.bw-tooltip-wrapper.placed-left .bw-tooltip-arrow {
  left: -40px;
  bottom: -10px;
  clip: rect(-16px, 36px, 36px, 10px);
}
.bw-tooltip-wrapper.placed-right .bw-tooltip-arrow {
  left: 20px;
  bottom: -10px;
  clip: rect(-16px, 10px, 36px, -16px);
}
.bw-tooltip-wrapper.with-arrow .bw-tooltip-arrow {
  display: block;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper {
  white-space: nowrap;
  overflow-x: hidden;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list {
  padding: 0;
  margin: 0;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item {
  list-style: none;
  padding: 10px;
  display: inline-block;
  margin-right: 3px;
  width: 150px;
  cursor: pointer;
  background: #e5e9ef;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item .bw-tabs-item-icon {
  color: #00aeef;
  display: inline-block;
  margin-right: 5px;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item .bw-tabs-item-label {
  color: #404040;
  font-size: 12px;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item,
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item * {
  cursor: pointer;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item.selected {
  background: #ffffff;
  cursor: default!important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item.selected,
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-list-wrapper .bw-tabs-list .bw-tabs-item.selected * {
  cursor: default;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-slider {
  width: 100%;
  height: 9px;
  padding: 1px;
  background: #FFF;
  position: static;
  bottom: 0;
  left: 0;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-slider .bw-tabs-slider-caret {
  width: 0;
  height: 7px;
  background: #8e8d8d;
  cursor: ew-resize;
  border-radius: 3px;
  opacity: 0.5;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-slider .bw-tabs-slider-caret:hover,
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-slider .bw-tabs-slider-caret.hover {
  background: #454545;
}
.bw-tabs-wrapper .bw-tabs-container .bw-tabs-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 5000;
  display: none;
}
input[type=checkbox] {
  display: none;
}
.form-checkbox__label,
.form-checkbox__label_table {
  float: right;
  position: relative;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
  color: #262626;
  cursor: pointer;
}
.form-checkbox__label:before,
.form-checkbox__label_table:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: 1px solid #00aeef;
}
.form-checkbox:checked + .form-checkbox__label:after,
.form-checkbox:checked + .form-checkbox__label_table:after {
  font-family: 'icomoon';
  content: '\e116';
  font-size: 8px;
  position: absolute;
  left: 1px;
  top: 2px;
  color: #ffffff;
}
.form-checkbox:checked + .form-checkbox__label:before,
.form-checkbox:checked + .form-checkbox__label_table:before {
  background-color: #00aeef;
}
.form-checkbox__label_table {
  float: none;
  margin-bottom: 0;
}
.form-checkbox__label_table:before {
  margin: 0 auto;
  border-color: #c4c8ce;
}
.form-checkbox:checked + .form-checkbox__label_table:before {
  border-color: #00aeef;
}
.bw-progress-bar-wrapper {
  overflow: hidden;
}
.bw-progress-bar-wrapper .bw-progress-bar-container {
  padding: 0;
  margin: 0;
}
.bw-progress-bar-wrapper .bw-progress-bar-container .bw-progress-bar-item {
  border-left: 2px solid #ffffff;
  background: none;
  padding: 10px 0;
  list-style: none;
  font-size: 10px;
  color: #4b4a4a;
}
.bw-progress-bar-wrapper .bw-progress-bar-container .bw-progress-bar-item .bw-pb-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bw-progress-bar-wrapper .bw-progress-bar-container .bw-progress-bar-item .bw-pb-container {
  position: relative;
}
.bw-progress-bar-wrapper .bw-progress-bar-container .bw-progress-bar-item .bw-pb-container .bw-pb-canvas {
  display: block;
}
.bw-progress-bar-wrapper .bw-progress-bar-container .bw-progress-bar-item .bw-pb-container .bw-pb-label {
  position: absolute;
  right: 0;
  padding-right: 10px;
}
.bw-progress-bar-wrapper .bw-progress-bar-container .bw-progress-bar-item.selected {
  border-left: 2px solid #00aeef;
  background: #dcf2fd;
}
.bw-progress-bar-wrapper .bw-progress-bar-container .bw-progress-bar-item:last-child {
  margin-bottom: 0;
}
.bw-calendar-wrapper .bw-calendar-container {
  margin: 0 auto;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-controllers {
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-controllers i {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  width: 30px;
  top: 1px;
  color: #00aeef;
  font-size: 14px;
  font-weight: 600;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-controllers i.fa-angle-left {
  left: -5px;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-controllers i.fa-angle-right {
  right: -5px;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-weekdays {
  height: 25px;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-grid {
  position: relative;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-grid .calendar-cell {
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  text-align: right;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-grid .calendar-cell div {
  padding: 5px 3px;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-grid .calendar-cell.has-border-right {
  border-right: 1px solid #f1f1f1;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-grid .calendar-cell.has-border-bottom {
  border-bottom: 1px solid #f1f1f1;
}
.bw-calendar-wrapper .bw-calendar-container .bw-calendar-grid .calendar-cell.selected div {
  border: 1px solid #F00;
}
.bw-combobox-wrapper .bw-combobox-container {
  width: 100%;
  position: relative;
}
.bw-combobox-wrapper .bw-combobox-container * {
  font-size: 12px;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-input {
  background: #ffffff;
  border: 1px solid #c4c8ce;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-input input {
  outline: none;
  border: none;
  line-height: 30px;
  padding: 0 10px;
  max-width: 99%;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-list {
  position: absolute;
  z-index: 5001;
  margin: 0;
  padding: 10px 0;
  min-width: 100%;
  background: #ffffff;
  top: 32px;
  bottom: auto;
  left: 0;
  border: 1px solid #c4c8ce;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-list.shadows {
  -webkit-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-list.reversed {
  bottom: 32px;
  top: auto;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-list .bw-combobox-item {
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-list .bw-combobox-item .bw-combobox-item-label {
  font-size: 12px;
  color: #262626;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-list .bw-combobox-item.highlighted * {
  color: #00aeef;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-btn {
  position: absolute;
  right: 10px;
  top: 0;
  line-height: 30px;
  cursor: pointer;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-btn.fa-caret-down {
  color: #00aeef;
  font-size: 14px;
}
.bw-combobox-wrapper .bw-combobox-container .bw-combobox-btn.icon-cross {
  color: #a4a4a4;
}
.bw-combobox-wrapper .bw-combobox-container.opened .bw-combobox-input {
  border: 1px solid #00aeef;
}
.bw-timeline-wrapper .bw-timeline-container {
  overflow: hidden;
  padding: 10px;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events {
  overflow: hidden;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list {
  height: 270px;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags {
  height: 230px;
  background: #f1f1f1;
  position: relative;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag {
  position: absolute;
  bottom: 0;
  text-align: left;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag:hover {
  z-index: 5000;
  cursor: pointer;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag:hover .flag-canvas {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag.highlighted .bw-timeline-flag-inner .flag-canvas {
  background: #e4e4e4;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag .bw-timeline-flag-inner {
  position: relative;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag .bw-timeline-flag-inner > div {
  position: absolute;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag .bw-timeline-flag-inner .color-point {
  width: 10px;
  height: 10px;
  left: -4px;
  bottom: -4px;
  background: #F00;
  border-radius: 5px;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag .bw-timeline-flag-inner .flagpole {
  width: 1px;
  bottom: 0;
  background: #d3d3d3;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag .bw-timeline-flag-inner .flag-canvas {
  border: 1px solid #d3d3d3;
  white-space: nowrap;
  padding: 5px;
  background: #FFF;
  font-size: 12px;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag .bw-timeline-flag-inner .flag-canvas .flag-label-1 {
  color: #4b4a4a;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag .bw-timeline-flag-inner .flag-canvas .flag-label-2,
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-flags .bw-timeline-flag .bw-timeline-flag-inner .flag-canvas .fa-info-circle {
  color: #969696;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-events .bw-timeline-mobile-list .bw-timeline-scale {
  height: 40px;
  background: #FFF;
  display: block;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-slider {
  height: 9px;
  background: #efefef;
  padding-top: 1px;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-slider .bw-timeline-slider-caret {
  width: 0;
  height: 7px;
  background: #8e8d8d;
  cursor: ew-resize;
  border-radius: 3px;
  opacity: 0.5;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-slider .bw-timeline-slider-caret:hover,
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-slider .bw-timeline-slider-caret.hover {
  background: #454545;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector {
  margin-top: 5px;
  height: 35px;
  background: #d3f2fe;
  position: relative;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-points-canvas {
  position: absolute;
  display: block;
  top: 14px;
  width: 100%;
  height: 6px;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-left-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: inherit;
  background: #f1f1f1;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-right-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background: #f1f1f1;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-main-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: inherit;
  border-left: 1px solid #c4c8ce;
  border-right: 1px solid #c4c8ce;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-main-panel .rs-main-handler {
  position: relative;
  width: inherit;
  height: inherit;
  cursor: ew-resize;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-main-panel .rs-main-handler .rs-left-handler {
  position: absolute;
  left: -5px;
  top: 6px;
  width: 9px;
  height: 21px;
  border: 1px solid #c4c8ce;
  background: #FFF;
  padding: 3px 2px;
  cursor: col-resize;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-main-panel .rs-main-handler .rs-left-handler-helper {
  position: absolute;
  top: 32px;
  font-size: 10px;
  white-space: nowrap;
  z-index: 5000;
  background: #FFF;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-main-panel .rs-main-handler .rs-right-handler {
  position: absolute;
  right: -3px;
  top: 6px;
  width: 9px;
  height: 21px;
  border: 1px solid #c4c8ce;
  background: #FFF;
  padding: 3px 2px;
  cursor: col-resize;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-main-panel .rs-main-handler .rs-right-handler-helper {
  position: absolute;
  top: 32px;
  font-size: 10px;
  white-space: nowrap;
  z-index: 5000;
  background: #FFF;
}
.bw-timeline-wrapper .bw-timeline-container .bw-timeline-range-selector .rs-main-panel .rs-main-handler .rs-handler-decoration {
  height: 13px;
  border-left: 1px solid #c4c8ce;
  border-right: 1px solid #c4c8ce;
}
.bw-timeline-wrapper .bw-timeline-container .rs-date-scale {
  display: block;
  width: 100%;
  height: 18px;
  font-size: 10px;
}
.bw-timeline-wrapper .bw-timeline-container .bw-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 5000;
  display: none;
}
.flag {
  width: 16px;
  height: 11px;
  display: inline-block;
  background: url('../img/flags.png') no-repeat;
}
.usa-flag {
  width: 16px;
  height: 11px;
  display: inline-block;
  background: url('../img/usa-flags.png') no-repeat;
}
.flag.flag-ad {
  background-position: -16px 0;
}
.flag.flag-ae {
  background-position: -32px 0;
}
.flag.flag-af {
  background-position: -48px 0;
}
.flag.flag-ag {
  background-position: -64px 0;
}
.flag.flag-ai {
  background-position: -80px 0;
}
.flag.flag-al {
  background-position: -96px 0;
}
.flag.flag-am {
  background-position: -112px 0;
}
.flag.flag-an {
  background-position: -128px 0;
}
.flag.flag-ao {
  background-position: -144px 0;
}
.flag.flag-ar {
  background-position: -160px 0;
}
.flag.flag-as {
  background-position: -176px 0;
}
.flag.flag-at {
  background-position: -192px 0;
}
.flag.flag-au {
  background-position: -208px 0;
}
.flag.flag-aw {
  background-position: -224px 0;
}
.flag.flag-az {
  background-position: -240px 0;
}
.flag.flag-ba {
  background-position: 0 -11px;
}
.flag.flag-bb {
  background-position: -16px -11px;
}
.flag.flag-bd {
  background-position: -32px -11px;
}
.flag.flag-be {
  background-position: -48px -11px;
}
.flag.flag-bf {
  background-position: -64px -11px;
}
.flag.flag-bg {
  background-position: -80px -11px;
}
.flag.flag-bh {
  background-position: -96px -11px;
}
.flag.flag-bi {
  background-position: -112px -11px;
}
.flag.flag-bj {
  background-position: -128px -11px;
}
.flag.flag-bm {
  background-position: -144px -11px;
}
.flag.flag-bn {
  background-position: -160px -11px;
}
.flag.flag-bo {
  background-position: -176px -11px;
}
.flag.flag-br {
  background-position: -192px -11px;
}
.flag.flag-bs {
  background-position: -208px -11px;
}
.flag.flag-bt {
  background-position: -224px -11px;
}
.flag.flag-bv {
  background-position: -240px -11px;
}
.flag.flag-bw {
  background-position: 0 -22px;
}
.flag.flag-by {
  background-position: -16px -22px;
}
.flag.flag-bz {
  background-position: -32px -22px;
}
.flag.flag-ca {
  background-position: -48px -22px;
}
.flag.flag-catalonia {
  background-position: -64px -22px;
}
.flag.flag-cd {
  background-position: -80px -22px;
}
.flag.flag-cf {
  background-position: -96px -22px;
}
.flag.flag-cg {
  background-position: -112px -22px;
}
.flag.flag-ch {
  background-position: -128px -22px;
}
.flag.flag-ci {
  background-position: -144px -22px;
}
.flag.flag-ck {
  background-position: -160px -22px;
}
.flag.flag-cl {
  background-position: -176px -22px;
}
.flag.flag-cm {
  background-position: -192px -22px;
}
.flag.flag-cn {
  background-position: -208px -22px;
}
.flag.flag-co {
  background-position: -224px -22px;
}
.flag.flag-cr {
  background-position: -240px -22px;
}
.flag.flag-cu {
  background-position: 0 -33px;
}
.flag.flag-cv {
  background-position: -16px -33px;
}
.flag.flag-cw {
  background-position: -32px -33px;
}
.flag.flag-cy {
  background-position: -48px -33px;
}
.flag.flag-cz {
  background-position: -64px -33px;
}
.flag.flag-de {
  background-position: -80px -33px;
}
.flag.flag-dj {
  background-position: -96px -33px;
}
.flag.flag-dk {
  background-position: -112px -33px;
}
.flag.flag-dm {
  background-position: -128px -33px;
}
.flag.flag-do {
  background-position: -144px -33px;
}
.flag.flag-dz {
  background-position: -160px -33px;
}
.flag.flag-ec {
  background-position: -176px -33px;
}
.flag.flag-ee {
  background-position: -192px -33px;
}
.flag.flag-eg {
  background-position: -208px -33px;
}
.flag.flag-eh {
  background-position: -224px -33px;
}
.flag.flag-england {
  background-position: -240px -33px;
}
.flag.flag-er {
  background-position: 0 -44px;
}
.flag.flag-es {
  background-position: -16px -44px;
}
.flag.flag-et {
  background-position: -32px -44px;
}
.flag.flag-eu {
  background-position: -48px -44px;
}
.flag.flag-fi {
  background-position: -64px -44px;
}
.flag.flag-fj {
  background-position: -80px -44px;
}
.flag.flag-fk {
  background-position: -96px -44px;
}
.flag.flag-fm {
  background-position: -112px -44px;
}
.flag.flag-fo {
  background-position: -128px -44px;
}
.flag.flag-fr {
  background-position: -144px -44px;
}
.flag.flag-ga {
  background-position: -160px -44px;
}
.flag.flag-gb {
  background-position: -176px -44px;
}
.flag.flag-gd {
  background-position: -192px -44px;
}
.flag.flag-ge {
  background-position: -208px -44px;
}
.flag.flag-gf {
  background-position: -224px -44px;
}
.flag.flag-gg {
  background-position: -240px -44px;
}
.flag.flag-gh {
  background-position: 0 -55px;
}
.flag.flag-gi {
  background-position: -16px -55px;
}
.flag.flag-gl {
  background-position: -32px -55px;
}
.flag.flag-gm {
  background-position: -48px -55px;
}
.flag.flag-gn {
  background-position: -64px -55px;
}
.flag.flag-gp {
  background-position: -80px -55px;
}
.flag.flag-gq {
  background-position: -96px -55px;
}
.flag.flag-gr {
  background-position: -112px -55px;
}
.flag.flag-gs {
  background-position: -128px -55px;
}
.flag.flag-gt {
  background-position: -144px -55px;
}
.flag.flag-gu {
  background-position: -160px -55px;
}
.flag.flag-gw {
  background-position: -176px -55px;
}
.flag.flag-gy {
  background-position: -192px -55px;
}
.flag.flag-hk {
  background-position: -208px -55px;
}
.flag.flag-hm {
  background-position: -224px -55px;
}
.flag.flag-hn {
  background-position: -240px -55px;
}
.flag.flag-hr {
  background-position: 0 -66px;
}
.flag.flag-ht {
  background-position: -16px -66px;
}
.flag.flag-hu {
  background-position: -32px -66px;
}
.flag.flag-ic {
  background-position: -48px -66px;
}
.flag.flag-id {
  background-position: -64px -66px;
}
.flag.flag-ie {
  background-position: -80px -66px;
}
.flag.flag-il {
  background-position: -96px -66px;
}
.flag.flag-im {
  background-position: -112px -66px;
}
.flag.flag-in {
  background-position: -128px -66px;
}
.flag.flag-io {
  background-position: -144px -66px;
}
.flag.flag-iq {
  background-position: -160px -66px;
}
.flag.flag-ir {
  background-position: -176px -66px;
}
.flag.flag-is {
  background-position: -192px -66px;
}
.flag.flag-it {
  background-position: -208px -66px;
}
.flag.flag-je {
  background-position: -224px -66px;
}
.flag.flag-jm {
  background-position: -240px -66px;
}
.flag.flag-jo {
  background-position: 0 -77px;
}
.flag.flag-jp {
  background-position: -16px -77px;
}
.flag.flag-ke {
  background-position: -32px -77px;
}
.flag.flag-kg {
  background-position: -48px -77px;
}
.flag.flag-kh {
  background-position: -64px -77px;
}
.flag.flag-ki {
  background-position: -80px -77px;
}
.flag.flag-km {
  background-position: -96px -77px;
}
.flag.flag-kn {
  background-position: -112px -77px;
}
.flag.flag-kp {
  background-position: -128px -77px;
}
.flag.flag-kr {
  background-position: -144px -77px;
}
.flag.flag-kurdistan {
  background-position: -160px -77px;
}
.flag.flag-kw {
  background-position: -176px -77px;
}
.flag.flag-ky {
  background-position: -192px -77px;
}
.flag.flag-kz {
  background-position: -208px -77px;
}
.flag.flag-la {
  background-position: -224px -77px;
}
.flag.flag-lb {
  background-position: -240px -77px;
}
.flag.flag-lc {
  background-position: 0 -88px;
}
.flag.flag-li {
  background-position: -16px -88px;
}
.flag.flag-lk {
  background-position: -32px -88px;
}
.flag.flag-lr {
  background-position: -48px -88px;
}
.flag.flag-ls {
  background-position: -64px -88px;
}
.flag.flag-lt {
  background-position: -80px -88px;
}
.flag.flag-lu {
  background-position: -96px -88px;
}
.flag.flag-lv {
  background-position: -112px -88px;
}
.flag.flag-ly {
  background-position: -128px -88px;
}
.flag.flag-ma {
  background-position: -144px -88px;
}
.flag.flag-mc {
  background-position: -160px -88px;
}
.flag.flag-md {
  background-position: -176px -88px;
}
.flag.flag-me {
  background-position: -192px -88px;
}
.flag.flag-mg {
  background-position: -208px -88px;
}
.flag.flag-mh {
  background-position: -224px -88px;
}
.flag.flag-mk {
  background-position: -240px -88px;
}
.flag.flag-ml {
  background-position: 0 -99px;
}
.flag.flag-mm {
  background-position: -16px -99px;
}
.flag.flag-mn {
  background-position: -32px -99px;
}
.flag.flag-mo {
  background-position: -48px -99px;
}
.flag.flag-mp {
  background-position: -64px -99px;
}
.flag.flag-mq {
  background-position: -80px -99px;
}
.flag.flag-mr {
  background-position: -96px -99px;
}
.flag.flag-ms {
  background-position: -112px -99px;
}
.flag.flag-mt {
  background-position: -128px -99px;
}
.flag.flag-mu {
  background-position: -144px -99px;
}
.flag.flag-mv {
  background-position: -160px -99px;
}
.flag.flag-mw {
  background-position: -176px -99px;
}
.flag.flag-mx {
  background-position: -192px -99px;
}
.flag.flag-my {
  background-position: -208px -99px;
}
.flag.flag-mz {
  background-position: -224px -99px;
}
.flag.flag-na {
  background-position: -240px -99px;
}
.flag.flag-nc {
  background-position: 0 -110px;
}
.flag.flag-ne {
  background-position: -16px -110px;
}
.flag.flag-nf {
  background-position: -32px -110px;
}
.flag.flag-ng {
  background-position: -48px -110px;
}
.flag.flag-ni {
  background-position: -64px -110px;
}
.flag.flag-nl {
  background-position: -80px -110px;
}
.flag.flag-no {
  background-position: -96px -110px;
}
.flag.flag-np {
  background-position: -112px -110px;
}
.flag.flag-nr {
  background-position: -128px -110px;
}
.flag.flag-nu {
  background-position: -144px -110px;
}
.flag.flag-nz {
  background-position: -160px -110px;
}
.flag.flag-om {
  background-position: -176px -110px;
}
.flag.flag-pa {
  background-position: -192px -110px;
}
.flag.flag-pe {
  background-position: -208px -110px;
}
.flag.flag-pf {
  background-position: -224px -110px;
}
.flag.flag-pg {
  background-position: -240px -110px;
}
.flag.flag-ph {
  background-position: 0 -121px;
}
.flag.flag-pk {
  background-position: -16px -121px;
}
.flag.flag-pl {
  background-position: -32px -121px;
}
.flag.flag-pm {
  background-position: -48px -121px;
}
.flag.flag-pn {
  background-position: -64px -121px;
}
.flag.flag-pr {
  background-position: -80px -121px;
}
.flag.flag-ps {
  background-position: -96px -121px;
}
.flag.flag-pt {
  background-position: -112px -121px;
}
.flag.flag-pw {
  background-position: -128px -121px;
}
.flag.flag-py {
  background-position: -144px -121px;
}
.flag.flag-qa {
  background-position: -160px -121px;
}
.flag.flag-re {
  background-position: -176px -121px;
}
.flag.flag-ro {
  background-position: -192px -121px;
}
.flag.flag-rs {
  background-position: -208px -121px;
}
.flag.flag-ru {
  background-position: -224px -121px;
}
.flag.flag-rw {
  background-position: -240px -121px;
}
.flag.flag-sa {
  background-position: 0 -132px;
}
.flag.flag-sb {
  background-position: -16px -132px;
}
.flag.flag-sc {
  background-position: -32px -132px;
}
.flag.flag-scotland {
  background-position: -48px -132px;
}
.flag.flag-sd {
  background-position: -64px -132px;
}
.flag.flag-se {
  background-position: -80px -132px;
}
.flag.flag-sg {
  background-position: -96px -132px;
}
.flag.flag-sh {
  background-position: -112px -132px;
}
.flag.flag-si {
  background-position: -128px -132px;
}
.flag.flag-sk {
  background-position: -144px -132px;
}
.flag.flag-sl {
  background-position: -160px -132px;
}
.flag.flag-sm {
  background-position: -176px -132px;
}
.flag.flag-sn {
  background-position: -192px -132px;
}
.flag.flag-so {
  background-position: -208px -132px;
}
.flag.flag-somaliland {
  background-position: -224px -132px;
}
.flag.flag-sr {
  background-position: -240px -132px;
}
.flag.flag-ss {
  background-position: 0 -143px;
}
.flag.flag-st {
  background-position: -16px -143px;
}
.flag.flag-sv {
  background-position: -32px -143px;
}
.flag.flag-sx {
  background-position: -48px -143px;
}
.flag.flag-sy {
  background-position: -64px -143px;
}
.flag.flag-sz {
  background-position: -80px -143px;
}
.flag.flag-tc {
  background-position: -96px -143px;
}
.flag.flag-td {
  background-position: -112px -143px;
}
.flag.flag-tf {
  background-position: -128px -143px;
}
.flag.flag-tg {
  background-position: -144px -143px;
}
.flag.flag-th {
  background-position: -160px -143px;
}
.flag.flag-tibet {
  background-position: -176px -143px;
}
.flag.flag-tj {
  background-position: -192px -143px;
}
.flag.flag-tk {
  background-position: -208px -143px;
}
.flag.flag-tl {
  background-position: -224px -143px;
}
.flag.flag-tm {
  background-position: -240px -143px;
}
.flag.flag-tn {
  background-position: 0 -154px;
}
.flag.flag-to {
  background-position: -16px -154px;
}
.flag.flag-tr {
  background-position: -32px -154px;
}
.flag.flag-tt {
  background-position: -48px -154px;
}
.flag.flag-tv {
  background-position: -64px -154px;
}
.flag.flag-tw {
  background-position: -80px -154px;
}
.flag.flag-tz {
  background-position: -96px -154px;
}
.flag.flag-ua {
  background-position: -112px -154px;
}
.flag.flag-ug {
  background-position: -128px -154px;
}
.flag.flag-um {
  background-position: -144px -154px;
}
.flag.flag-us {
  background-position: -160px -154px;
}
.flag.flag-uy {
  background-position: -176px -154px;
}
.flag.flag-uz {
  background-position: -192px -154px;
}
.flag.flag-va {
  background-position: -208px -154px;
}
.flag.flag-vc {
  background-position: -224px -154px;
}
.flag.flag-ve {
  background-position: -240px -154px;
}
.flag.flag-vg {
  background-position: 0 -165px;
}
.flag.flag-vi {
  background-position: -16px -165px;
}
.flag.flag-vn {
  background-position: -32px -165px;
}
.flag.flag-vu {
  background-position: -48px -165px;
}
.flag.flag-wales {
  background-position: -64px -165px;
}
.flag.flag-wf {
  background-position: -80px -165px;
}
.flag.flag-ws {
  background-position: -96px -165px;
}
.flag.flag-xk {
  background-position: -112px -165px;
}
.flag.flag-ye {
  background-position: -128px -165px;
}
.flag.flag-yt {
  background-position: -144px -165px;
}
.flag.flag-za {
  background-position: -160px -165px;
}
.flag.flag-zanzibar {
  background-position: -176px -165px;
}
.flag.flag-zm {
  background-position: -192px -165px;
}
.flag.flag-zw {
  background-position: -208px -165px;
}
.usa-flag.flag-al {
  background-position: 0 0;
}
.usa-flag.flag-ak {
  background-position: -16px 0;
}
.usa-flag.flag-az {
  background-position: -32px 0;
}
.usa-flag.flag-ar {
  background-position: -48px 0;
}
.usa-flag.flag-ca {
  background-position: -64px 0;
}
.usa-flag.flag-co {
  background-position: 0 -11px;
}
.usa-flag.flag-ct {
  background-position: -16px -11px;
}
.usa-flag.flag-de {
  background-position: -32px -11px;
}
.usa-flag.flag-fl {
  background-position: -48px -11px;
}
.usa-flag.flag-ga {
  background-position: -64px -11px;
}
.usa-flag.flag-hi {
  background-position: 0 -16px;
}
.usa-flag.flag-id {
  background-position: -16px -22px;
}
.usa-flag.flag-id {
  background-position: -32px -22px;
}
.usa-flag.flag-il {
  background-position: -48px -22px;
}
.usa-flag.flag-in {
  background-position: -64px -22px;
}
.usa-flag.flag-ia {
  background-position: 0 -33px;
}
.usa-flag.flag-ks {
  background-position: -16px -33px;
}
.usa-flag.flag-ky {
  background-position: -32px -33px;
}
.usa-flag.flag-la {
  background-position: -48px -33px;
}
.usa-flag.flag-me {
  background-position: -64px -33px;
}
.usa-flag.flag-md {
  background-position: 0 -44px;
}
.usa-flag.flag-ma {
  background-position: -16px -44px;
}
.usa-flag.flag-mi {
  background-position: -32px -44px;
}
.usa-flag.flag-mn {
  background-position: -48px -44px;
}
.usa-flag.flag-ms {
  background-position: -64px -44px;
}
.usa-flag.flag-mo {
  background-position: 0 -55px;
}
.usa-flag.flag-mt {
  background-position: -16px -55px;
}
.usa-flag.flag-ne {
  background-position: -32px -55px;
}
.usa-flag.flag-nv {
  background-position: -48px -55px;
}
.usa-flag.flag-nh {
  background-position: -64px -55px;
}
.usa-flag.flag-nj {
  background-position: 0 -66px;
}
.usa-flag.flag-nm {
  background-position: -16px -66px;
}
.usa-flag.flag-ny {
  background-position: -32px -66px;
}
.usa-flag.flag-nc {
  background-position: -48px -66px;
}
.usa-flag.flag-nd {
  background-position: -64px -66px;
}
.usa-flag.flag-oh {
  background-position: 0 -77px;
}
.usa-flag.flag-ok {
  background-position: -16px -77px;
}
.usa-flag.flag-or {
  background-position: -32px -77px;
}
.usa-flag.flag-pa {
  background-position: -48px -77px;
}
.usa-flag.flag-ri {
  background-position: -64px -77px;
}
.usa-flag.flag-sc {
  background-position: 0 -88px;
}
.usa-flag.flag-sd {
  background-position: -16px -88px;
}
.usa-flag.flag-tn {
  background-position: -32px -88px;
}
.usa-flag.flag-tx {
  background-position: -48px -88px;
}
.usa-flag.flag-ut {
  background-position: -64px -88px;
}
.usa-flag.flag-vt {
  background-position: 0 -99px;
}
.usa-flag.flag-va {
  background-position: -16px -99px;
}
.usa-flag.flag-wa {
  background-position: -32px -99px;
}
.usa-flag.flag-wv {
  background-position: -48px -99px;
}
.usa-flag.flag-wi {
  background-position: -64px -99px;
}
.usa-flag.flag-wy {
  background-position: 0 -110px;
}
.bw-map-wrapper .bw-map-container {
  overflow: hidden;
  position: relative;
}
.bw-map-wrapper .bw-map-container .bw-map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  color: #b6bfca;
  text-align: center;
  opacity: 0.9;
  display: none;
}
.bw-map-wrapper .bw-map-container .bw-map-overlay.is-loading {
  display: table;
}
.bw-map-wrapper .bw-map-container .bw-map-overlay * {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.bw-map-wrapper .bw-map-container .bw-map-zoom-controllers {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-map-wrapper .bw-map-container .bw-map-zoom-controllers .fa {
  display: block;
  width: 25px;
  height: 25px;
  background: #FFF;
  font-size: 10px;
  text-align: center;
  color: #666;
  padding-top: 8px;
  cursor: pointer;
  background: #ffffff;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.bw-map-wrapper .bw-map-container .bw-map-zoom-controllers .fa:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-map-wrapper .bw-map-container .bw-map-zoom-controllers .fa:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.bw-map-wrapper .bw-map-container .bw-map-zoom-controllers .fa.fa-plus {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #c4c8ce;
}
.bw-map-wrapper .bw-map-container .bw-map-zoom-controllers .fa.fa-minus {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #c4c8ce;
}
.bw-preview-wrapper .bw-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5000;
  display: none;
  text-align: center;
}
.bw-preview-wrapper .bw-preview-container.opened {
  display: block;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-canvas {
  display: inline-block;
  cursor: move;
  margin-top: 80px;
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-preview-wrapper .bw-preview-container .bw-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 5000;
  display: none;
  cursor: move;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #000;
  color: #FFF;
  border-bottom: 0.5px solid #FFF;
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-buttons,
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-pagination {
  width: 33%;
  padding: 10px;
  line-height: 30px;
  font-size: 16px;
  float: right;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-buttons i,
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-pagination i {
  cursor: pointer;
  background: #000000;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  margin: 0 10px;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-buttons i:hover,
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-pagination i:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-buttons i:active,
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-pagination i:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-buttons.bw-preview-doc-title,
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-pagination.bw-preview-doc-title {
  text-align: left;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-buttons.bw-preview-pagination,
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-pagination.bw-preview-pagination {
  text-align: center;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-buttons.bw-preview-buttons,
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-pagination.bw-preview-buttons {
  text-align: right;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-controllers .bw-preview-dropdown {
  width: 200px;
  margin: 8px 10px;
  text-align: left;
  background: #FFF;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-prev-page,
.bw-preview-wrapper .bw-preview-container .bw-preview-next-page {
  position: fixed;
  top: 50%;
  margin-top: -50px;
  font-size: 100px;
  color: #FFF;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-prev-page.bw-preview-prev-page,
.bw-preview-wrapper .bw-preview-container .bw-preview-next-page.bw-preview-prev-page {
  left: 15px;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-prev-page.bw-preview-next-page,
.bw-preview-wrapper .bw-preview-container .bw-preview-next-page.bw-preview-next-page {
  right: 15px;
}
.bw-preview-wrapper .bw-preview-container .bw-preview-prev-page:hover,
.bw-preview-wrapper .bw-preview-container .bw-preview-next-page:hover {
  text-shadow: 5px 3px 5px #000000;
}
