/** Colors */
/** Borders */
/** Speed */
/** Sizes */
/** Z-index */
/** CSS3-classes */
/** Buttons */
.hello-world {
  font-size: 44px;
  color: #999;
}
body {
  color: #4b4a4a;
}
body,
body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  height: 80px;
  padding: 11px;
  background: #3a4c72;
}
header .bw-brand-logo {
  background: url('../img/brand-logo.png') center no-repeat;
  width: 140px;
  height: 57px;
  float: left;
  margin-right: 10px;
}
header .bw-header-label {
  line-height: 63px;
  font-size: 16px;
  color: #ffffff;
  vertical-align: middle;
}
.bw-main-nav {
  height: 50px;
  padding: 10px 10px 0;
  background: #303f5e;
}
.bw-panel {
  padding: 0 5px;
  min-height: 30px;
}
.bw-panel .bw-panel-tile {
  padding: 3px;
}
.bw-panel .bw-panel-tile > * {
  min-height: 32px;
  border: 1px solid #c4c8ce;
  border-top: none;
}
.bw-panel .bw-panel-tile.collapsable {
  position: relative;
}
.bw-panel .bw-panel-tile.collapsable > * {
  min-height: 402px;
  padding: 5px 25px 5px 5px;
  margin: 0;
}
.bw-panel .bw-panel-tile.collapsable .bw-collapsable-panel-toggler {
  display: table;
  padding: 0;
  width: 20px;
  height: 100%;
  position: absolute;
  right: 3px;
  left: auto;
  top: 3px;
  cursor: pointer;
  background: #ecebeb;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.bw-panel .bw-panel-tile.collapsable .bw-collapsable-panel-toggler:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-panel .bw-panel-tile.collapsable .bw-collapsable-panel-toggler:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.bw-panel .bw-panel-tile.collapsable .bw-collapsable-panel-toggler > * {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.bw-panel .bw-panel-tile.collapsable .bw-collapsable-panel-toggler.is-collapsed {
  right: auto;
  left: 3px;
  top: 3px;
}
.bw-panel .bw-panel-tile .bw-panel-tile-header {
  border-top: 1px solid #c4c8ce;
  border-bottom: 1px solid #c4c8ce;
  background: #e5e9ef;
  padding: 0 10px;
}
.bw-panel .bw-panel-tile .bw-panel-tile-header .bw-panel-tile-header-title {
  font-weight: bold;
  line-height: 50px;
  color: #3a4c72;
  vertical-align: middle;
  text-align: center;
}
.bw-panel .bw-panel-tile .bw-btn-group {
  float: right;
}
.bw-panel .bw-panel-tile .bw-btn-group .bw-btn {
  background: #e5e9ef;
}
.bw-btn {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.bw-btn .bw-btn-icon {
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}
.bw-btn:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.bw-btn.is-disabled {
  cursor: default!important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #c4c8ce;
}
.bw-btn.is-disabled,
.bw-btn.is-disabled * {
  cursor: default;
}
.annotation-demo-wrapper,
.annotation-demo-wrapper * {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.chart-demo-wrapper .chart-will-be-here {
  height: 340px;
  padding: 5px;
}
.chart-demo-wrapper .chart-will-be-here .chart-demo-container {
  height: 330px;
}
.chart-demo-wrapper .chart-demo-controllers {
  text-align: center;
}
.grid-demo-wrapper .clickable-tooltip img {
  margin-right: 10px;
}
.grid-demo-wrapper .clickable-tooltip .buttons-will-be-here {
  text-align: center;
}
.grid-demo-wrapper .bw-grid-group-input-panel {
  padding: 10px;
  border-bottom: none;
}
.grid-demo-wrapper .bw-grid-group-input-panel input {
  padding: 0 10px;
  line-height: 28px;
  vertical-align: middle;
}
.grid-demo-wrapper .bw-grid-group-input-panel input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 12px;
}
.grid-demo-wrapper .bw-grid-group-input-panel input::-moz-placeholder {
  font-style: italic;
  font-size: 12px;
}
.grid-demo-wrapper .bw-grid-group-input-panel input:-moz-placeholder {
  font-style: italic;
  font-size: 12px;
}
.grid-demo-wrapper .bw-grid-group-input-panel input:-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
}
.grid-demo-wrapper .grid-demo-controllers {
  text-align: center;
}
.tooltip-demo-page-wrapper {
  margin-bottom: 50px;
}
.tooltip-demo-page-wrapper .demo-tooltip-2 {
  text-align: center;
}
.tooltip-demo-page-wrapper .demo-tooltip-2 .fa {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px 3px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  border: 1px solid #999;
}
.tooltip-demo-page-wrapper .tooltip-demo-page-tile.clickable-tile {
  height: 300px;
  padding-top: 140px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background: #ffffff;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.tooltip-demo-page-wrapper .tooltip-demo-page-tile.clickable-tile:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.tooltip-demo-page-wrapper .tooltip-demo-page-tile.clickable-tile:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.tooltip-demo-page-wrapper .tooltip-demo-page-tile.clickable-tile:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.tooltip-demo-page-wrapper .tooltip-demo-page-tile.clickable-tile:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.collection-demo-wrapper .bw-panel-tile {
  text-align: center;
}
.collection-demo-wrapper .bw-panel-tile > * {
  border-top: 1px solid #c4c8ce;
}
.collection-demo-wrapper .collection-demo-btn {
  padding: 20px;
  cursor: pointer;
  background: #ffffff;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.collection-demo-wrapper .collection-demo-btn:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.collection-demo-wrapper .collection-demo-btn:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.collection-demo-wrapper .collection-demo-btn:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.collection-demo-wrapper .collection-demo-btn:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.collection-demo-wrapper .collection-demo-info-panel {
  background: #e5e9ef;
  border: 1px solid #c4c8ce;
  color: #3a4c72;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
.collection-demo-wrapper .collection-demo-info-panel ul {
  padding-left: 20px;
  margin: 0;
}
.collection-demo-wrapper .collection-demo-info-panel ul li {
  list-style: none;
}
.collection-demo-wrapper .collection-demo-tile {
  padding: 3px;
  text-align: center;
  height: auto;
}
.collection-demo-wrapper .collection-demo-tile .collection-demo-tile-body {
  padding: 20px 3px;
  border: 1px solid #c4c8ce;
  cursor: pointer;
}
.collection-demo-wrapper .collection-demo-tile .collection-demo-tile-body .collection-demo-tile-label {
  overflow: hidden;
  text-overflow: ellipsis;
}
.collection-demo-wrapper .collection-demo-tooltip .collection-demo-action {
  padding: 3px;
  margin-bottom: 3px;
}
.collection-demo-wrapper .collection-demo-tooltip .collection-demo-action.clickable {
  cursor: pointer;
  background: #ffffff;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.collection-demo-wrapper .collection-demo-tooltip .collection-demo-action.clickable:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.collection-demo-wrapper .collection-demo-tooltip .collection-demo-action.clickable:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.collection-demo-wrapper .collection-demo-tooltip .collection-demo-action.clickable:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.collection-demo-wrapper .collection-demo-tooltip .collection-demo-action.clickable:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.collection-demo-wrapper .collection-demo-tooltip .collection-demo-action.disabled {
  color: #c4c8ce;
  cursor: default;
}
.progress-bar-demo-wrapper .progress-bar-will-be-here {
  height: 350px;
}
.timeline-demo-wrapper .timeline-will-be-here {
  height: 412px;
  text-align: center;
}
.report-demo-page-wrapper .report-demo-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 5000;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-size: 50px;
}
.report-demo-page-wrapper .report-demo-page-overlay div {
  position: fixed;
  top: 50%;
  width: 100%;
  margin-top: -25px;
  text-align: center;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
}
.report-demo-page-wrapper .report-demo-page-overlay div i {
  margin: 20px;
}
.report-demo-page-wrapper .report-demo-page-overlay.is-visible {
  display: block;
}
.bw-input {
  padding: 0 10px;
  line-height: 28px;
  vertical-align: middle;
  width: 100%;
}
.bw-input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 12px;
}
.bw-input::-moz-placeholder {
  font-style: italic;
  font-size: 12px;
}
.bw-input:-moz-placeholder {
  font-style: italic;
  font-size: 12px;
}
.bw-input:-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
}
.bw-long-btn {
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  display: inline-block;
  border: 1px solid #00aeef;
  min-width: 80px;
  margin: 5px;
  padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  line-height: 30px;
  font-weight: 400;
  background: #ffffff;
  color: #00aeef;
  min-height: 0;
}
.bw-long-btn:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-long-btn:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.bw-long-btn:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.bw-long-btn:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
.bw-long-btn.blue-btn {
  background: #00aeef;
  color: #ffffff;
}
.bw-long-btn.red-btn {
  border: 1px solid #e6433b;
  background: #e6433b;
  color: #ffffff;
}
.bw-long-btn.green-btn {
  border: 1px solid #09b061;
  background: #09b061;
  color: #ffffff;
}
.bw-long-btn.btn-disabled {
  opacity: 0.5;
  cursor: default!important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.bw-long-btn.btn-disabled,
.bw-long-btn.btn-disabled * {
  cursor: default;
}
.clickable {
  cursor: pointer;
  background: #ffffff;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.clickable:hover {
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 27px -2px rgba(0, 0, 0, 0.5);
}
.clickable:active {
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0, 0, 0, 0.75);
}
