@import "less/bw-mixins";

.hello-world {
  font-size: 44px;
  color: #999;
}

body {
  color: @textColor;
  &, & * {
    .no-select ();
  }
}

header {
  height: 80px;
  padding: 11px;
  background: @bwBlueDark;

  .bw-brand-logo {
    background: url('../img/brand-logo.png') center no-repeat;
    width: 140px;
    height: 57px;
    float: left;
    margin-right: 10px;
  }

  .bw-header-label {
    line-height: 63px;
    font-size: 16px;
    color: @white;
    vertical-align: middle;
  }
}

.bw-main-nav {
  height: 50px;
  padding: 10px 10px 0;
  background: @bwBlueDarker;
}

.bw-panel {
  padding: 0 5px;
  min-height: 30px;

  .bw-panel-tile {
    padding: 3px;
    & > * {
      min-height: 32px;
      border: @thinGrayBorder;
      border-top: none;
    }

    &.collapsable {
      position: relative;
      & > * {
        min-height: 402px;
        padding: 5px 25px 5px 5px;
        margin: 0;
      }
      .bw-collapsable-panel-toggler {
        display: table;
        padding: 0;
        width: 20px;
        height: 100%;
        position: absolute;
        right: 3px;
        left: auto;
        top: 3px;
        .clickable(@grayLightest);

        & > * {
          display: table-cell;
          height: 100%;
          vertical-align: middle;
          text-align: center;
        }

        &.is-collapsed {
          right: auto;
          left: 3px;
          top: 3px;
        }
      }
    }

    .bw-panel-tile-header {
      border-top: @thinGrayBorder;
      border-bottom: @thinGrayBorder;
      background: @bwGrayLighter;
      padding: 0 10px;

      .bw-panel-tile-header-title {
        font-weight: bold;
        line-height: 50px;
        color: @bwBlueDark;
        vertical-align: middle;
        text-align: center;
      }
    }

    .bw-btn-group {
      float: right;

      .bw-btn {
        background: @bwGrayLighter;
      }
    }
  }
}

.bw-btn {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  .transition();

  .bw-btn-icon {
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
  }

  &:active {
    .box-shadow-inset();
  }

  &.is-disabled {
    .non-clickable();
    color: @grayLighter;

  }
}

.annotation-demo-wrapper {
  &, & * {
    .selectable();
  }
}

.chart-demo-wrapper {
  .chart-will-be-here {
    height: 340px;
    padding: 5px;

    .chart-demo-container {
      height: 330px;
    }
  }

  .chart-demo-controllers {
    text-align: center;
  }
}

.grid-demo-wrapper {
  .clickable-tooltip {
    img {
      margin-right: 10px;
    }

    .buttons-will-be-here {
      text-align: center;
    }
  }

  .bw-grid-group-input-panel{
    padding: 10px;
    border-bottom: none;
    input {
      .input();
    }
  }

  .grid-demo-controllers {
    text-align: center;
  }
}

.tooltip-demo-page-wrapper {
  margin-bottom: 50px;

  .demo-tooltip-2 {
    text-align: center;

    .fa {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 10px 3px;
      padding-top: 10px;
      text-align: center;
      font-size: 30px;
      border: 1px solid #999;
    }
  }

  .tooltip-demo-page-tile {

    &.clickable-tile {
      height: 300px;
      padding-top: 140px;
      text-align: center;
      font-size: 20px;
      .clickable();
    }
  }
}

.collection-demo-wrapper {
  .bw-panel-tile {
    text-align: center;
    & > * {
      border-top: @thinGrayBorder;
    }
  }

  .collection-demo-btn {
    padding: 20px;
    .clickable();
  }

  .collection-demo-info-panel {
    background: @bwGrayLighter;
    border: @thinGrayBorder;
    color: @bwBlueDark;
    font-weight: bold;
    text-align: left;
    padding: 10px;

    ul {
      padding-left: 20px;
      margin: 0;

      li {
        list-style: none;
      }
    }
  }

  .collection-demo-tile {
    padding: 3px;
    text-align: center;
    height: auto;

    .collection-demo-tile-body {
      padding: 20px 3px;
      border: @thinGrayBorder;
      cursor: pointer;

      .collection-demo-tile-label {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .collection-demo-tooltip {
    .collection-demo-action {
      padding: 3px;
      margin-bottom: 3px;

      &.clickable {
        .clickable();
      }

      &.disabled {
        color: @grayLighter;
        cursor: default;
      }

    }
  }
}

.progress-bar-demo-wrapper {
  .progress-bar-will-be-here {
    height: 350px;
  }
}

.timeline-demo-wrapper {
  .timeline-will-be-here {
    height: 412px;
    text-align: center;
  }
}

.report-demo-page-wrapper {

  .report-demo-page-overlay {
    .page-overlay();
    display: none;
    background: rgba(0,0,0,0.2);
    color: #FFF;
    font-size: 50px;

    div {
      position: fixed;
      top: 50%;
      width: 100%;
      margin-top: -25px;
      text-align: center;
      text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);

      i {
        margin: 20px;
      }
    }


    &.is-visible {
      display: block;
    }
  }
}

.bw-input {
  .input();
  width: 100%;
}

.bw-long-btn {
  .clickable();

  display: inline-block;
  border: 1px solid @bwBlue;
  min-width: 80px;
  margin: 5px;
  padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  line-height: 30px;
  font-weight: 400;
  background: @white;
  color: @bwBlue;
  min-height: 0;

  &.blue-btn {
    background: @bwBlue;
    color: @white;
  }

  &.red-btn {
    border: 1px solid @bwRed;
    background: @bwRed;
    color: @white;
  }

  &.green-btn {
    border: 1px solid @bwGreen;
    background: @bwGreen;
    color: @white;
  }

  &.btn-disabled {
    opacity: 0.5;
    .non-clickable();
  }
}

.clickable {
  .clickable();
}

