@import "bw-mixins";

.bw-chart-wrapper {
  &, & * {
    .no-select();
  }

  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;

  .bw-chart-container {
    width: 100%;
    height: 100%;

    .bw-chart-canvas {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .bw-chart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: ew-resize;
    z-index: 5000;
  }

  .bw-chart-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    z-index: @layer1;
    display: none;
    text-align: center;

    span {
      font-size: 14px;
      color: #b6bfca;
    }
  }
}

.bw-chart-filters {
  width: 0;
  height: 0;
}

.fa-candle-chart {
  font-family: FontAwesome;
  .transformed(rotate(90deg));
  &:before {
    content: "\f1de";
  }
}