@import "bw-mixins";

input[type=checkbox] {
  display: none;
}

.form-checkbox__label,
.form-checkbox__label_table {
  float: right;
  position: relative;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
  color: @grayDarkest;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border: @thinBlueBorder;
  }
}

.form-checkbox:checked + .form-checkbox__label,
.form-checkbox:checked + .form-checkbox__label_table {
  &:after {
    font-family: 'icomoon';
    content: '\e116';
    font-size: 8px;
    position: absolute;
    left: 1px;
    top: 2px;
    color: @white;
  }

  &:before {
    background-color: @bwBlue;
  }
}

.form-checkbox__label_table {
  float: none;
  margin-bottom: 0;

  &:before {
    margin: 0 auto;
    border-color: @grayLighter;
  }
}

.form-checkbox:checked + .form-checkbox__label_table:before {
  border-color: @bwBlue;
}