@import 'bw-mixins';

.bw-combobox-wrapper {

  .bw-combobox-container {
    width: 100%;
    position: relative;

    * {
      font-size: 12px;
    }

    .bw-combobox-input {
      background: @white;
      border: @thinGrayBorder;

      input {
        outline: none;
        border: none;
        line-height: 30px;
        padding: 0 10px;
        max-width: 99%;
      }
    }

    .bw-combobox-list {
      position: absolute;
      z-index: 5001;
      margin: 0;
      padding: 10px 0;
      min-width: 100%;
      background: @white;
      top: 32px;
      bottom: auto;
      left: 0;
      border: @thinGrayBorder;

      &.shadows {
        .box-shadow();
      }

      &.reversed {
        bottom: 32px;
        top: auto;
      }

      .bw-combobox-item {
        padding: 5px 10px;
        list-style: none;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .bw-combobox-item-label {
          font-size: 12px;
          color: #262626;
        }

        &.highlighted * {
          color: @bwBlue;
        }
      }
    }

    .bw-combobox-btn {
      position: absolute;
      right: 10px;
      top: 0;
      line-height: 30px;
      cursor: pointer;

      &.fa-caret-down {
        color: @bwBlue;
        font-size: 14px;
      }
      &.icon-cross {
        color: @grayLight;
      }
    }

    &.opened .bw-combobox-input {
      border: @thinBlueBorder;
    }
  }
}