@import "bw-mixins";

.bw-calendar-wrapper {
  @cellBorder:  1px solid #f1f1f1;

  .bw-calendar-container {
    margin: 0 auto;

    .bw-calendar-controllers {
      position: relative;
      text-align: center;
      margin: 0 auto;
      font-size: 12px;

      i {
        position: absolute;
        display: inline-block;
        cursor: pointer;
        width: 30px;
        top: 1px;
        color: @bwBlue;
        font-size: 14px;
        font-weight: 600;

        &.fa-angle-left {
          left: -5px;
        }

        &.fa-angle-right {
          right: -5px;
        }
      }

    }

    .bw-calendar-weekdays {
      height: 25px;
    }

    .bw-calendar-grid {
      position: relative;

      .calendar-cell {
        border-top: @cellBorder;
        border-left: @cellBorder;
        text-align: right;

        div {
          padding: 5px 3px;
        }

        &.has-border-right {
          border-right: @cellBorder;
        }

        &.has-border-bottom {
          border-bottom: @cellBorder;
        }

        &.selected div {
          border: 1px solid #F00;
        }
      }
    }
  }
}