@import "bw-mixins";

.bw-dropdown-wrapper {

  .bw-dropdown-container {
    width: 100%;
    position: relative;

    * {
      font-size: 12px;
    }

    .bw-dropdown-list {
      position: absolute;
      z-index: 5001;
      margin: 0;
      padding: 10px 0;
      min-width: 100%;
      background: @white;
      top: 32px;
      bottom: auto;
      left: 0;
      border: @thinGrayBorder;

      &.shadows {
        .box-shadow();
      }

      &.reversed {
        bottom: 32px;
        top: auto;
      }

      .bw-dropdown-item {
        padding: 5px 10px;
        list-style: none;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .bw-dropdown-item-label {
          font-size: 12px;
          color: #262626;
        }

        .bw-dropdown-item-icon {
          color: @bwBlue;
        }

        &:hover * {
          color: @bwBlue;
        }
      }
    }

    .bw-dropdown-selected-item {
      position: relative;
      z-index: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 15px 0 10px;
      cursor: default;
      border: @thinGrayBorder;

      * {
        line-height: 30px;
      }

      .bw-dropdown-item-icon {
        color: @bwBlue;
      }
      .bw-dropdown-item-label {
        color: @gray;
      }
    }

    .bw-dropdown-btn {
      position: absolute;
      right: 10px;
      top: 0;
      line-height: 30px;
      cursor: pointer;

      &.fa-caret-down, &.fa-caret-up {
        color: @bwBlue;
        font-size: 14px;
      }
      &.icon-cross {
        color: @grayLight;
      }
    }

    &.opened .bw-dropdown-selected-item {
      border: @thinBlueBorder;
    }
  }
}