@font-face {
  font-family: 'icomoon';
  src:    url('/../../fonts/icomoon.eot');
  src:    url('/../../fonts/icomoon.eot') format('embedded-opentype'),
  url('/../../fonts/icomoon.ttf') format('truetype'),
  url('/../../fonts/icomoon.woff') format('woff'),
  url('/../../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e000";
}
.icon-mail:before {
  content: "\e002";
}
.icon-bell:before {
  content: "\e006";
}
.icon-cog:before {
  content: "\e023";
}
.icon-search:before {
  content: "\e036";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-play:before {
  content: "\e052";
}
.icon-head:before {
  content: "\e074";
}
.icon-star:before {
  content: "\e093";
}
.icon-content-left:before {
  content: "\e101";
}
.icon-flag:before {
  content: "\e108";
}
.icon-maximize:before {
  content: "\e112";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}
.icon-ellipsis:before {
  content: "\e129";
}

