@import "bw-mixins";

@groupsWrapperWidth: 170px;
@checkboxesWrapperWidth: 24px;
@infoWrapperWidth: 38px;
@gridHeaderHeight: 36px;
@gridRowHeight: 26px;

.bw-grid-wrapper {
  width: 100%;
  //overflow: hidden;

  &, & * {
    .no-select();
    font-weight: 400;
  }

  .bw-grid-container {
    position: relative;
    width: 100%;

    &.view-type-A {
      .bw-grid-groups-wrapper,
      .groups-table-header {
        position: absolute;
        top: 0;
        left: 0;
        width: @groupsWrapperWidth;

        table {
          width: 100%;
          table-layout: fixed;

          .header-cell {
            background: #c4cbd4;
            border: @thinGrayLightBorder;
            height: @gridHeaderHeight;
            width: @groupsWrapperWidth;
            padding: 0 20px;
            font-weight: 400;

            div {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .separator-cell {
            background: #FFF;
            height: 7px;
            width: @groupsWrapperWidth;
            border: @thinGrayLightBorder;
          }

          .row-cell {
            font-size: 12px;
            vertical-align: top;

            div {
              width: @groupsWrapperWidth;
              padding: 0 10px 0 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              cursor: pointer;

              .group-label {
                color: #4b4a4a;
              }

              .fa, .number-of-rows {
                color: #bcbec0;
                margin: 0 7px 0 4px;
              }
            }
          }
        }
      }

      .bw-grid-checkboxes-wrapper,
      .checkboxes-table-header {
        position: absolute;
        top: 0;
        left: @groupsWrapperWidth;
        width: @checkboxesWrapperWidth;

        table {
          width: 100%;

          .select-all-checkbox-cell {
            background: #c4cbd4;
            border: @thinGrayLightBorder;
            height: @gridHeaderHeight;
            width: @checkboxesWrapperWidth;

            .select-all-checkbox {
              cursor: pointer;
              border: @thinGrayBorder;
              width: 10px;
              height: 10px;
              margin: 0 auto;
              text-align: center !important;
              background: @white;
              font-size: 8px;
              padding-bottom: 8px;

              i {
                .transformed(translate(0, -2px));
              }
            }
          }

          .separator-cell {
            background: #FFF;
            height: 7px;
            width: @groupsWrapperWidth;
            border: @thinGrayLightBorder;
          }

          .checkboxes-column-row {
            td {
              height: @gridRowHeight;
              border-left: @thinGrayLightBorder;
              border-right: @thinGrayLightBorder;

              .grid-cell-wrapper {
                border: @thinGrayBorder;
                width: 10px;
                height: 10px;
                margin: 0 auto;
                text-align: center !important;
                background: @white;
                font-size: 8px;
                padding-bottom: 8px;
                line-height: 25px;

                i {
                  display: none;
                }
              }
            }

            &.selected .grid-cell-wrapper {
              background: @bwBlue;
              border: @thinBlueBorder;
              color: @white;

              i {
                display: block;
              }
            }

            &.hover {
              td {
                background: @bwBlueLightest;
              }
            }
          }
        }
      }

      .bw-grid-info-wrapper,
      .info-table-header {
        position: absolute;
        width: @infoWrapperWidth;
        top: 0;
        right: 0;

        table {
          width: 100%;

          .just-empty-cell {
            background: #c4cbd4;
            border: @thinGrayLightBorder;
            height: @gridHeaderHeight;
            width: @infoWrapperWidth;
          }

          .separator-cell {
            background: #FFF;
            height: 7px;
            width: @groupsWrapperWidth;
            border: @thinGrayLightBorder;
          }

          .info-column-row {
            td {
              height: @gridRowHeight;
              padding: 0;
              border-left: @thinGrayLightBorder;
              border-right: @thinGrayLightBorder;

              .grid-cell-wrapper {
                text-align: center;
                cursor: pointer;

                i {
                  line-height: 25px;
                  display: none;
                }
              }
            }

            &.hover {
              .grid-cell-wrapper {
                background: @bwBlueLightest;

                i {
                  display: block;
                }
              }
            }
          }
        }
      }

      .bw-grid-table-wrapper,
      .main-table-header {
        width: 100%;

        .bw-grid-static-container {
          overflow: hidden;
          position: relative;
          height: 100%;

          table {
            width: 100%;

            thead .header-columns {
              td {
                background: #c4cbd4;
                color: #4b4a4a;
                border: @thinGrayLightBorder;
                height: 36px;
                font-weight: 400;
                cursor: pointer;

                .grid-cell-wrapper {
                  position: relative;
                  padding: 0 30px 0 10px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;

                  i {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                    text-align: center;
                    display: none;
                    width: 15px;
                    height: 15px;
                  }
                }

                &.selected {
                  background: #00aeef;
                  color: #ffffff;
                  font-weight: 600;
                  .grid-cell-wrapper i {
                    display: block;
                  }
                }
              }
            }

            tbody .grid-row {
              td {
                height: @gridRowHeight;
                color: #4b4a4a;
                border-left: @thinGrayLightBorder;
                border-right: @thinGrayLightBorder;
                cursor: default;

                .grid-cell-wrapper {
                  position: relative;
                  padding: 0 10px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  min-height: 25px;
                  z-index: 0;

                  &.link-cell:hover {
                    color: @bwBlue;
                    cursor: pointer;
                  }

                  * {
                    line-height: 25px;
                  }
                }

                &.selected {
                  background: #00aeef;
                  color: #ffffff;
                  font-weight: 600;
                }
              }

              &.hover {
                .grid-cell-wrapper {
                  background: @bwBlueLightest;
                }
              }
            }
          }
        }
      }

      .bw-grid-floating-header-wrapper {
        width: 100%;
        position: fixed;
        display: none;
        top: 0;
        left: 0;

        .bw-grid-floating-header-container {
          position: relative;
          width: 100%;
        }
      }

      .bw-grid-slider-h {
        width: 100%;
        height: 10px;
        padding: 1px;
        background: #FFF;
        position: static;
        border-top: @thinGrayBorder;
        bottom: 0;
        left: 0;

        .bw-grid-slider-caret {
          width: 0;
          height: 7px;
          background: #8e8d8d;
          cursor: ew-resize;
          border-radius: 3px;
          opacity: 0.5;

          &:hover, &.hover {
            background: #454545;
          }
        }
      }

      .bw-grid-slider-v {
        position: absolute;
        top: 37px;
        right: 9px;
        width: 0;

        .bw-grid-slider-caret {
          width: 7px;
          height: 0;
          background: #8e8d8d;
          cursor: ns-resize;
          border-radius: 3px;
          opacity: 0.5;

          &:hover, &.hover {
            background: #454545;
          }
        }
      }

      .bw-grid-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: @layer1;
        display: none;

        div {
          font-size: 36px;
          color: @bwGray;
          padding-top: 200px;
          text-align: center;
        }
      }

      .bw-page-overlay {
        .page-overlay();
        display: none;
      }

    }

    &.view-type-B {

      .bw-grid-groups-wrapper,
      .bw-grid-checkboxes-wrapper,
      .bw-grid-info-wrapper,
      .bw-grid-floating-header-wrapper,
      .bw-grid-slider-h,
      .bw-grid-slider-v,
      .bw-grid-overlay {
        display: none;
      }

      .bw-grid-table-wrapper {
        width: 100%;

        .bw-grid-static-container {
          width: 100%;

          table {
            width: 100%;

            thead {
              .header-columns .grid-header-cell {
                padding: 5px 10px;
                border-bottom: @thinGrayBorderDashed;

                * {
                  font-weight: 600;
                }
              }
            }

            tbody {
              .grid-row {
                vertical-align: top;
                color: #757676;

                td {
                  padding: 5px 10px;
                }

                &.group-header td {
                  color: #01539d;
                  font-size: 12px;

                  * {
                    font-weight: 600;
                  }
                }

                &.group-footer td {
                  border-top: @thinGrayBorderDashed;
                  font-size: 12px;

                  * {
                    font-weight: 600;
                  }
                }

                &.grand-total td {
                  border-top: @thinGrayBorder;
                  font-size: 12px;

                  * {
                    font-weight: 700;
                  }
                }

                &.empty-row td {
                  padding: 10px;
                }

                &.odd-row td , &.even-row td {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }

      .bw-page-overlay {
        .page-overlay();
        display: none;
      }
    }
  }
}

