/** Colors */
@black: #000;
@grayDarkest: #262626;
@grayDarker: #404040;
@grayDark: #606060;
@gray: #808080;
@grayLight: #A4A4A4;
@grayLighter: #C4C8CE;
@grayLightest: #ecebeb;
@white: #FFF;


@bwBlueDarker: #303f5e;
@bwBlueDark: #3a4c72;
@bwBlue: #00aeef; // 0 174 239
@bwBlueLight: #4cc6f3; // 76 198 243
@bwBlueLighter: #98def7; // 152 222 247
@bwBlueLightest: #e5f7fd; // 229 247 253
@bwGreen: #09b061;
@bwRed: #e6433b;
@bwGray: #c4cbd4;
@bwGrayLight: #d4d9df;
@bwGrayLighter: #e5e9ef;
@bwGrayLightest: #e5f7fd;


@textColor: #4b4a4a;
@textColorDark: #4b4a4a;
@transparent: rgba(0, 0, 0, 0);
@whiteTransparent: rgba(255, 255, 255, 0.4);

/** Borders */

@thickGrayLightBorder: 7px solid @grayLightest;
@thinGrayLightBorder: 1px solid @grayLightest;
@thinGrayBorder: 1px solid @grayLighter;
@thinGrayBorderDashed: 1px dashed @grayLighter;
@thickWhiteBorder: 7px solid @white;
@thinWhiteBorder: 1px solid @white;
@thinBlueBorder: 1px solid @bwBlue;

/** Speed */
@fast: 0.1s;
@normal: 0.3s;
@slow: 0.6s;

/** Sizes */
@stdHeight: 28px;


/** Z-index */
@layer0: 1;
@layer1: 5000;
@layer2: 5001;
@layer3: 5002;


/** CSS3-classes */
.transformed (@transformation){
  -webkit-transform: @transformation;
  -moz-transform: @transformation;
  -ms-transform: @transformation;
  -o-transform: @transformation;
  transform: @transformation;
}

.transition (@sec: @fast, @ease: ease-in-out){
  -webkit-transition: @sec @ease;
  -moz-transition: @sec @ease;
  -o-transition: @sec @ease;
  transition: @sec @ease;
}

.transition-delay (@sec: @fast){
  -webkit-transition-delay: @sec;
  -moz-transition-delay: @sec;
  -o-transition-delay: @sec;
  transition-delay: @sec;
}

.no-select (){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable (){
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.box-shadow (){
  -webkit-box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.2);
}

.box-shadow-light (){
  -webkit-box-shadow: 2px 2px 27px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 27px -2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 27px -2px rgba(0,0,0,0.5);
}

.box-shadow-inset (){
  -webkit-box-shadow: inset 2px 2px 27px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 2px 27px -2px rgba(0,0,0,0.75);
  box-shadow: inset 2px 2px 27px -2px rgba(0,0,0,0.75);
}

.box-shadow-none (){
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input (@fontStyle: italic, @fontSize: 12px, @lineHeight: 28px){

  & {
    padding: 0 10px;
    line-height: @lineHeight;
    vertical-align: middle;
  }

  ._input (){
    font-style: @fontStyle;
    font-size: @fontSize;
  }

  &::-webkit-input-placeholder {._input();}
  &::-moz-placeholder          {._input();}
  &:-moz-placeholder           {._input();}
  &:-ms-input-placeholder      {._input();}
}

.page-overlay (@bgColor: @transparent){
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: @bgColor;
  z-index: @layer1;
}

.clickable (@bgColor: @white){
  cursor: pointer;
  background: @bgColor;
  .transition();

  &:hover {
    .box-shadow-light;
  }
  &:active {
    .box-shadow-inset();
  }
}

.non-clickable (){
  cursor: default!important;
  .box-shadow-none();

  &, & * {
    cursor: default;
  }
}

/** Buttons */
.bw-btn (@bgColor: @grayLightest, @fontColor: @white){
  padding: 0;
//  border-radius: 3px;
  .clickable();

  & > * {
    min-height: @stdHeight;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: @bgColor;

    & > * {
      line-height: @stdHeight;
      color: @fontColor;
    }

  }
}
