@import "bw-mixins";

.bw-map-wrapper {
  .bw-map-container {
    overflow: hidden;
    position: relative;

    .bw-map-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f9f9f9;
      color: #b6bfca;
      text-align: center;
      opacity: 0.9;
      display: none;

      &.is-loading {
        display: table;
      }

      * {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
      }
    }

    .bw-map-zoom-controllers {
//      display: none;
      position: absolute;
      right: 20px;
      top: 20px;
      border-radius: 4px;
      .box-shadow-light();

      .fa {
        display: block;
        width: 25px;
        height: 25px;
        background: #FFF;
        font-size: 10px;
        text-align: center;
        color: #666;
        padding-top: 8px;
        .clickable();

        &.fa-plus {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border-bottom: @thinGrayBorder;
        }
        &.fa-minus {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          border-top: @thinGrayBorder;
        }
      }
    }
  }
}

