@import "bw-mixins";

.bw-progress-bar-wrapper {
  overflow: hidden;

  .bw-progress-bar-container {
    padding: 0;
    margin: 0;

    .bw-progress-bar-item {
      border-left: 2px solid #ffffff;
      background: none;

      padding: 10px 0;
      list-style: none;
      font-size: 10px;
      color: #4b4a4a;

      .bw-pb-description {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .bw-pb-container {
        position: relative;

        .bw-pb-canvas {
          display: block;
        }

        .bw-pb-label {
          position: absolute;
          right: 0;
          padding-right: 10px;
        }
      }

      &.selected {
        border-left: 2px solid #00aeef;
        background: #dcf2fd;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}