@import "bw-mixins";

.bw-preview-wrapper {

  .bw-preview-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: @layer1;
    display: none;
    text-align: center;

    &.opened {
      display: block;
    }

    .bw-preview-canvas {
      display: inline-block;
      cursor: move;
      margin-top: 80px;
      .box-shadow-light();
    }

    .bw-preview-overlay {
      .page-overlay();
      display: none;
      cursor: move;
    }

    .bw-preview-controllers {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: #000;
      color: #FFF;
      border-bottom: 0.5px solid #FFF;
      .box-shadow-light();

      .bw-preview-buttons, .bw-preview-pagination {
        width: 33%;
        padding: 10px;
        line-height: 30px;
        font-size: 16px;
        float: right;

        i {
          .clickable(#000);
          margin: 0 10px;
        }

        &.bw-preview-doc-title {
          text-align: left;
        }
        &.bw-preview-pagination {
          text-align: center;
        }
        &.bw-preview-buttons {
          text-align: right;
        }
      }

      .bw-preview-dropdown {
        width: 200px;
        margin: 8px 10px;
        text-align: left;
        background: #FFF;

      }
    }

    .bw-preview-prev-page, .bw-preview-next-page {
      position: fixed;
      top: 50%;
      margin-top: -50px;
      font-size: 100px;
      color: #FFF;
      text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      .transition();

      &.bw-preview-prev-page {
        left: 15px;
      }
      &.bw-preview-next-page {
        right: 15px;
      }

      &:hover {
        text-shadow: 5px 3px 5px rgba(0, 0, 0, 1);
      }
    }

    //.bw-preview-prev-page, .bw-preview-next-page {
    //  position: fixed;
    //  top: 0;
    //  width: 50px;
    //  height: 100%;
    //  padding-top: 50%;
    //  color: #FFF;
    //  font-size: 100px;
    //
    //  &.bw-preview-prev-page {
    //    left: 0;
    //  }
    //
    //  &.bw-preview-next-page {
    //    right: 0;
    //  }
    //
    //  i {
    //    .transformed(translate(0, -50px));
    //    text-shadow: 5px 3px 9px rgba(150, 150, 150, 1);
    //  }
    //}
  }
}