@import "bw-mixins";

.bw-switch-wrapper {

  .bw-switch-container {
    margin-left: 10px;
    text-align: right;
    float: right;
    .transition();

    .bw-switch-item {
      background: @bwGrayLighter;
      display: inline-block;
      position: relative;
      height: 50px;
      width: 45px;
      cursor: pointer;
      .transition();

      .bw-switch-item-arrow {
        position: absolute;
        display: none;
        bottom: 50px;
        left: 15px;
        width: 20px;
        height: 20px;
        z-index: 5001;
        clip: rect(10px, 32px, 32px, -16px);

        &:after {
          content: ' ';
          display: block;
          width: 20px;
          height: 20px;
          background: @grayDark;
          .box-shadow();
          .transformed(rotate(45deg));
        }
      }

      .bw-switch-item-icon {
        line-height: 50px;
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
      }

      .bw-switch-item-label {
        display: none;
        position: absolute;
        min-width: 100px;
        left: -29px;
        bottom: 60px;
        background: @grayDark;
        color: @white;
        padding: 3px;
        white-space: nowrap;
        text-align: center;
        z-index: 5000;
        .box-shadow();

        span {
          position: relative;
          z-index: 5002;
          font-size: 10px;
          background: @grayDark;
          line-height: 28px;
        }
      }

      &.selected {
        background: @bwGrayLight;
      }

      &:active {
        .box-shadow-inset();
      }

      &:hover {
        .bw-switch-item-label,
        .bw-switch-item-arrow {
          display: block;
        }
      }

      &:last-child {
        .bw-switch-item-label {
          left: -52px;
        }
      }
    }
  }
}