@import "bw-mixins";

.bw-tabs-wrapper {
  .bw-tabs-container {
    .bw-tabs-list-wrapper {
      white-space: nowrap;
      overflow-x: hidden;

      .bw-tabs-list {
        padding: 0;
        margin: 0;

        .bw-tabs-item {
          list-style: none;
          background: @bwGrayLighter;
          padding: 10px;
          display: inline-block;
          margin-right: 3px;
          width: 150px;
          .clickable(@bwGrayLighter);

          .bw-tabs-item-icon {
            color: @bwBlue;
            display: inline-block;
            margin-right: 5px;
          }

          .bw-tabs-item-label {
            color: @grayDarker;
            font-size: 12px;
          }

          &, & * {
            cursor: pointer;
          }

          &.selected {
            background: @white;
            .non-clickable();
          }
        }
      }
    }

    .bw-tabs-slider {
      width: 100%;
      height: 9px;
      padding: 1px;
      background: #FFF;
      position: static;
      bottom: 0;
      left: 0;

      .bw-tabs-slider-caret {
        width: 0;
        height: 7px;
        background: #8e8d8d;
        cursor: ew-resize;
        border-radius: 3px;
        opacity: 0.5;

        &:hover, &.hover {
          background: #454545;
        }
      }
    }

    .bw-tabs-overlay {
      .page-overlay();
      display: none;
    }
  }
}
