@import "bw-mixins";

.bw-tooltip-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: @layer1;
  display: none;
  font-size: 14px;

  .bw-tooltip-container {
    position: absolute;
    height: auto;
    background: @white;
    z-index: @layer2;
    border: @thinGrayLightBorder;
    .box-shadow();

    .bw-tooltip-inner {
      background: @white;

      .bw-tooltip-header {
        padding: 10px;
        background-color: @bwGrayLight;
        font-weight: bold;
      }

      .bw-tooltip-body {
        padding: 10px;
      }

      span {
//          white-space: nowrap;
      }
    }
  }

  .bw-tooltip-arrow {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: @layer2;

    &:after {
      content: ' ';
      display: block;
      width: 20px;
      height: 20px;
      background: @white;
      .box-shadow();
      .transformed(rotate(45deg));
    }
  }

  .bw-tooltip-page-overlay {
    .page-overlay();
    background: @transparent;
  }

  &.placed-upside {
    .bw-tooltip-arrow {
      left: -10px;
      bottom: 20px;
      clip: rect(10px, 32px, 36px, -16px);
    }
  }

  &.placed-left {
    .bw-tooltip-arrow {
      left: -40px;
      bottom: -10px;
      clip: rect(-16px, 36px, 36px, 10px);
    }
  }

  &.placed-right {
    .bw-tooltip-arrow {
      left: 20px;
      bottom: -10px;
      clip: rect(-16px, 10px, 36px, -16px);
    }
  }

  &.with-arrow {
    .bw-tooltip-arrow {
      display: block;
    }
  }
}
