@import "bw-mixins";

.bw-timeline-wrapper {

  .bw-timeline-container {
    overflow: hidden;
    padding: 10px;

    .bw-timeline-events {
      overflow: hidden;

      .bw-timeline-mobile-list {
        height: 270px;

        .bw-timeline-flags {
          height: 230px;
          background: #f1f1f1;
          position: relative;

          .bw-timeline-flag {
            position: absolute;
            bottom: 0;
            text-align: left;

            &:hover {
              z-index: @layer1;
              cursor: pointer;

              .flag-canvas {
                .box-shadow-light();
              }
            }

            &.highlighted .bw-timeline-flag-inner .flag-canvas {
              background: #e4e4e4;
            }

            .bw-timeline-flag-inner {
              position: relative;

              & > div {
                position: absolute;
              }

              .color-point {
                width: 10px;
                height: 10px;
                left: -4px;
                bottom: -4px;
                background: #F00;
                border-radius: 5px;
              }

              .flagpole {
                width: 1px;
                bottom: 0;
                background: #d3d3d3;
              }

              .flag-canvas {
                border: 1px solid #d3d3d3;
                white-space: nowrap;
                padding: 5px;
                background: #FFF;
                font-size: 12px;

                .flag-label-1 {
                  color: #4b4a4a;
                }

                .flag-label-2, .fa-info-circle {
                  color: #969696;
                }

              }
            }
          }
        }

        .bw-timeline-scale {
          height: 40px;
          background: #FFF;
          display: block;
        }
      }
    }

    .bw-timeline-slider {
      height: 9px;
      background: #efefef;
      padding-top: 1px;

      .bw-timeline-slider-caret {
        width: 0;
        height: 7px;
        background: #8e8d8d;
        cursor: ew-resize;
        border-radius: 3px;
        opacity: 0.5;

        &:hover, &.hover {
          background: #454545;
        }
      }
    }

    .bw-timeline-range-selector {
      margin-top: 5px;
      height: 35px;
      background: #d3f2fe;
      position: relative;

      .rs-points-canvas {
        position: absolute;
        display: block;
        top: 14px;
        width: 100%;
        height: 6px;
      }

      .rs-left-panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: inherit;
        background: #f1f1f1;
      }

      .rs-right-panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        background: #f1f1f1;
      }

      .rs-main-panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: inherit;
        border-left: @thinGrayBorder;
        border-right: @thinGrayBorder;

        .rs-main-handler {
          position: relative;
          width: inherit;
          height: inherit;
          cursor: ew-resize;

          .rs-left-handler {
            position: absolute;
            left: -5px;
            top: 6px;
            width: 9px;
            height: 21px;
            border: @thinGrayBorder;
            background: #FFF;
            padding: 3px 2px;
            cursor: col-resize;
          }

          .rs-left-handler-helper {
            position: absolute;
            top: 32px;
            font-size: 10px;
            white-space: nowrap;
            z-index: @layer1;
            background: #FFF;
          }

          .rs-right-handler {
            position: absolute;
            right: -3px;
            top: 6px;
            width: 9px;
            height: 21px;
            border: @thinGrayBorder;
            background: #FFF;
            padding: 3px 2px;
            cursor: col-resize;
          }

          .rs-right-handler-helper {
            position: absolute;
            top: 32px;
            font-size: 10px;
            white-space: nowrap;
            z-index: @layer1;
            background: #FFF;
          }

          .rs-handler-decoration {
            height: 13px;
            border-left: @thinGrayBorder;
            border-right: @thinGrayBorder;
          }
        }
      }
    }

    .rs-date-scale {
      display: block;
      width: 100%;
      height: 18px;
      font-size: 10px;
    }

    .bw-page-overlay {
      .page-overlay();
      display: none;
    }
  }
}