<div class="annotation-demo-wrapper">
    <div class="container-fluid ctrl-panel">
        <div class="row-fluid">
            <div class="col-xs-12">
                <div class="row">
                    <div bond-annotation="{}"></div>
                    <div id="annotation" class="col-xs-12">
                        <h1>THIS IS THE HEADER</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

