<div class="bugs-fixing-page-wrapper">
    <div bw-tooltip="BWTooltip" bw-tooltip-settings="BWTooltipSettings">
        <b>{{BWTooltip.content.label}}</b>
        <b>{{BWTooltip.content.value}}</b>
    </div>

    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <div class="col-xs-12">
                <span style="margin: 10px; cursor: pointer" ng-repeat="size in sizes.getItems()" ng-click="size.select()">
                    <i class="fa" ng-class="{'fa-circle' : size.isSelected, 'fa-circle-o' : !size.isSelected}" style="color: #2ca02c"></i>
                    <span>&nbsp;{{size.content.label}}</span>
                </span>
                <div class="bw-long-btn red-btn" ng-click="onBigRedButtonClick()">
                    <span>BIG RED BUTTON</span>
                </div>
                <div class="bw-long-btn green-btn" ng-click="onBigGreenButtonClick()">
                    <span>BIG GREEN BUTTON</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="bw-panel-tile col-xs-{{sizes.selected.content.value}}" ng-if="sizes.selected.content.value">
                        <div class="bw-panel-tile-header">
                            <span class="bw-panel-tile-header-title">{{account.title}}</span>
                        </div>
                        <div style="padding: 10px">
                            <div class="chart-will-be-here" style="height: 300px">
                                <div bw-chart="resizableChart.model" bw-chart-settings="resizableChart.settings"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>