<div class="calendar-demo-wrapper">
    <h3 class="col-xs-12">Calendar Widget Demo</h3>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-12 calendar-will-be-here">
                <div bw-calendar="BWCalendar" bw-calendar-settings="BWCalendarSettings"></div>
            </div>
        </div>
    </div>
    <div bw-tooltip="BWChartTooltip" bw-tooltip-settings="BWChartTooltipSettings">
        <div class="row">
            <div class="col-xs-12" ng-repeat="row in BWChartTooltip.content">
                <b>{{row.label}}: </b>
                <span>{{row.value}} </span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-4">
                <div bw-dropdown="rangeSelectorDropdown" bw-dropdown-settings="rangeSelectorDropdownSettings"></div>
            </div>
        </div>
    </div>
</div>
