<div class="chart-demo-wrapper">
    <!--<div bw-tooltip="BWChartTooltip" bw-tooltip-settings="BWChartTooltipSettings">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-12" ng-repeat="row in BWChartTooltip.content">-->
                <!--<b>{{row.label}}: </b>-->
                <!--<span>{{row.value}}</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <h3 class="col-xs-12">Chart Component Demo</h3>
            <div class="chart-demo-controllers col-xs-12">
                <div class="bw-btn is-disabled" ng-click="makeItDance()">
                    <i class="bw-btn-icon fa fa-play"></i>
                </div>
                <div class="bw-btn is-disabled" ng-click="stopDancing()">
                    <i class="bw-btn-icon fa fa-pause"></i>
                </div>
                <div class="bw-btn is-disabled" ng-click="refreshRandomData()">
                    <i class="bw-btn-icon fa fa-step-forward"></i>
                </div>
                <div class="bw-long-btn red-btn" ng-click="refreshRandomData()">
                    <span>BIG RED BUTTON</span>
                </div>
            </div>
            <div class="bw-panel-tile col-xs-6" ng-repeat="BWChart in BWCharts.getItems()">
                <div class="bw-panel-tile-header">
                    <div class="row">
                        <div class="col-xs-7" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                            <span class="bw-panel-tile-header-title"><i class="fa {{BWChart.content.icon}}"></i>&nbsp;&nbsp;{{BWChart.content.label}}</span>
                        </div>
                        <div class="col-xs-5" style="text-align: right">
                            <div class="bw-btn" ng-class="{'is-disabled' : BWChart.content.isDancing}" ng-click="refreshRandomData(BWChart)">
                                <i class="bw-btn-icon fa fa-step-forward"></i>
                            </div>
                            <div class="bw-btn" ng-class="{'is-disabled' : BWChart.content.isDancing}" ng-click="getRenderingData(BWChart)">
                                <i class="bw-btn-icon fa fa-bomb"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart-will-be-here">
                    <div class="chart-demo-container">
                        <div bw-chart="BWChart.content.api" bw-chart-settings="BWChart.content.settings"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
