<div class="collection-demo-wrapper">
    <div bw-tooltip="BWCollectionDemoTooltip" bw-tooltip-settings="BWCollectionDemoTooltipSettings">
        <div class="collection-demo-tooltip">
            <span>ITEM ID: <b>{{activeTile._id}}</b></span><br/>
            <span>COLLECTION ID: <b>{{activeTile._collectionId}}</b></span>
            <hr/>
            <b>ACTIONS:</b></br>
            <div class="collection-demo-action"
                 ng-repeat="action in tooltipActions.getItems()"
                 ng-click="action.content.onClick()"
                 ng-class="{'clickable' : !action.content.isDisabled, 'disabled' : action.content.isDisabled}">
                <span><i class="fa {{action.content.icon}}"></i>       {{action.content.label}}</span>
            </div>
        </div>
    </div>

    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <h3 class="col-xs-12">Collections Service Demo</h3>
            <div ng-if="collection" class="col-xs-12 bw-panel-tile">
                <div class="collection-demo-info-panel">
                    <span>TOTAL COLLECTIONS:  </span><b>{{getNestedCollections().length}}</b><br>
                    <span>TOTAL ITEMS:        </span><b>{{getAllItems().length}}</b><br>
                    <span>SELECTED ITEMS:
                        <b ng-repeat="item in collection.getAllSelectedItems()">
                            <i>  {{item._id}}  </i>
                            <i class="fa fa-angle-right" ng-show="!$last"></i>
                        </b>
                        <b ng-show="!collection.getAllSelectedItems().length"><i>none</i></b>
                    </span>
                </div>
            </div>
            <div ng-if="!collection" class="col-xs-12 bw-panel-tile">
                <div class="collection-demo-btn" ng-click="createBaseCollection()">
                    <span>CLICK TO CREATE BASE COLLECTION</span>
                </div>
            </div>
            <div ng-if="collection" class="col-xs-12 bw-panel-tile">
                <div class="collection-demo-btn" ng-click="dropAllCollections()">
                    <span>CLICK TO DROP ALL COLLECTIONS</span>
                </div>
            </div>
        </div>
        <div class="row-fluid" ng-if="collection">
            <div class="col-xs-4 collection-demo-tile"
                 ng-repeat="baseLevelItem in collection.getItems()"
                 ng-class="{'selected': baseLevelItem.isSelected}">
                <div class="collection-demo-tile-body clickable"
                     ng-style="{'background-color': baseLevelItem.isSelected ? getColor(baseLevelItem.content.baseColor, 0) : '#FFF'}"
                     ng-click="onItemClick(baseLevelItem, $event)">
                    <div class="collection-demo-tile-label" ng-style="{'color': baseLevelItem.isSelected ? '#FFF' : getColor(baseLevelItem.content.baseColor, 0)}">{{baseLevelItem._id}}</div>
                    <div class="row-fluid">
                        <div class="col-xs-4 collection-demo-tile"
                             ng-repeat="firstLevelItem in baseLevelItem.nestedCollection.getItems()"
                             ng-class="{'selected': firstLevelItem.isSelected}">
                            <div class="collection-demo-tile-body clickable"
                                 ng-style="{'background-color': firstLevelItem.isSelected ? getColor(baseLevelItem.content.baseColor, 1) : '#FFF'}"
                                 ng-click="onItemClick(firstLevelItem, $event)">
                                <div class="collection-demo-tile-label" ng-style="{'color': firstLevelItem.isSelected ? '#FFF' : getColor(baseLevelItem.content.baseColor, 1)}">{{firstLevelItem._id}}</div>
                                <div class="row-fluid">
                                    <div class="col-xs-4 collection-demo-tile"
                                         ng-repeat="secondLevelItem in firstLevelItem.nestedCollection.getItems()"
                                         ng-class="{'selected': secondLevelItem.isSelected}">
                                        <div class="collection-demo-tile-body clickable"
                                             ng-style="{'background-color': secondLevelItem.isSelected ? getColor(baseLevelItem.content.baseColor, 2) : '#FFF'}"
                                             ng-click="onItemClick(secondLevelItem, $event)">
                                            <div class="collection-demo-tile-label" ng-style="{'color': secondLevelItem.isSelected ? '#FFF' : getColor(baseLevelItem.content.baseColor, 2)}">{{secondLevelItem._id}}</div>
                                            <div class="row-fluid">
                                                <div class="col-xs-12 collection-demo-tile"
                                                     ng-repeat="thirdLevelItem in secondLevelItem.nestedCollection.getItems()"
                                                     ng-class="{'selected': thirdLevelItem.isSelected}">
                                                    <div class="collection-demo-tile-body clickable"
                                                         ng-style="{'background-color': thirdLevelItem.isSelected ? getColor(baseLevelItem.content.baseColor, 3) : '#FFF'}"
                                                         ng-click="onItemClick(thirdLevelItem, $event)">
                                                        <div class="collection-demo-tile-label" ng-style="{'color': thirdLevelItem.isSelected ? '#FFF' : getColor(baseLevelItem.content.baseColor, 3)}">{{thirdLevelItem._id}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row-fluid">-->
        <!--<div class="col-xs-4" bw-combobox="BWCombobox" bw-combobox-settings="BWComboboxSettings"></div>-->
        <!--<div class="col-xs-4" ng-show="BWCombobox.selected">{{BWCombobox.selected.content.label}}</div>-->
    <!--</div>-->
</div>
