<div class="endless-list-demo-wrapper">
    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <div class="col-xs-12" style="padding-bottom: 1000px">
                <div bw-endless-list="endlessList" bw-endless-list-settings="endlessListSettings">
                    <div class="row endless-list-demo-block" ng-repeat="block in endlessListBlocks.getItems()" style="padding: 20px">
                        <h3>#{{block.content.label}}</h3>
                        <div class="bw-panel-tile col-xs-{{chart.size}}" ng-repeat="chart in block.content.charts">
                            <div class="bw-panel-tile-header">
                                <span class="bw-panel-tile-header-title">#{{block.content.label}}-{{$index}}</span>
                            </div>
                            <div class="chart-will-be-here" style="height: 300px; padding: 5px;">
                                <div bw-chart="chart.model" bw-chart-settings="chart.settings"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>