<div>
    <div class="container-fluid ctrl-panel">
        <div class="row-fluid">
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-9">
                        <div>REFRESH DATA</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="refreshTiles()">
                        <div><i class="fa fa-refresh"></i></div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-9">
                        <div>REARRANGE TILES</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3">
                        <div bond-select="sizeOptions"><i class="fa {{sizeOptions.selected.icon}}"></i></div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-9">
                        <div>CONVERT TO PDF</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="saveAsPDF()">
                        <div><i class="fa fa-file-pdf-o"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-9">
                        <div>{{formats.selected.label}}</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3">
                        <div bond-select="formats"><i class="fa fa-chevron-down"></i></div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-9">
                        <div>{{pageAppearance.selected.label}}</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3">
                        <div bond-select="pageAppearance"><i class="fa fa-chevron-down"></i></div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-9">
                        <div>ROWS PER PAGE</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3">
                        <div bond-select="rowsPerPageOptions">{{rowsPerPageOptions.selected.label}}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>
                            <input type="text" placeholder="Document title" ng-model="BondModalSettings.documentTitle" />
                        </div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>
                            <input type="text" placeholder="Page title" ng-model="BondModalSettings.pageTitle" />
                        </div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>
                            <input type="text" placeholder="Table title" ng-model="BondModalSettings.tableTitle" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ctrl-panel">
        <div class="row-fluid">
            <div class="col-xs-12">
                <div class="row">
                    <div class="ctrl-panel-tile icon clickable col-xs-1" ng-repeat="tile in chartTiles.concat(gridTiles) track by $index" ng-show="!tile.settings.isVisible" ng-click="tile.settings.isVisible = !tile.settings.isVisible">
                        <div><i class="fa {{tile.icon}}"></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="export-demo-tile col-xs-{{tile.widthOptions.selected.width}}" ng-repeat="tile in chartTiles track by $index" ng-show="tile.settings.isVisible">
                        <div class="export-demo-tile-header">
                            <div class="row">
                                <div class="col-xs-10">
                                    <input type="text" ng-model="tile.name"/>
                                </div>
                            </div>
                            <div class="export-demo-tile-tools">
                                <div><i class="fa fa-times" ng-click="removeTile(tile)"></i></div>
                                <div bond-select="tile.widthOptions"><i class="fa fa-cog"></i></div>
                            </div>
                        </div>
                        <div class="export-demo-tile-body" bond-chart="tile.chart" bond-chart-settings="tile.settings"></div>
                        <div class="export-demo-tile-body" ng-if="tile.grid" style="padding: 5px">
                            <div bond-grid="tile.grid" bond-grid-settings="tile.settings"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="export-demo-tile col-xs-12" ng-repeat="tile in gridTiles track by $index" ng-show="tile.settings.isVisible">
                        <div class="export-demo-tile-header">
                            <div class="row">
                                <div class="col-xs-10">
                                    <input type="text" ng-model="tile.name"/>
                                </div>
                            </div>
                            <div class="export-demo-tile-tools">
                                <div><i class="fa fa-times" ng-click="removeTile(tile)"></i></div>
                            </div>
                        </div>
                        <div class="export-demo-tile-body" style="padding: 5px">
                            <div bond-grid="tile.grid" bond-grid-settings="tile.settings"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div bond-modal="BondModal" bond-modal-settings="BondModalSettings"></div>
</div>

