<div class="grid-demo-wrapper">
    <div bw-tooltip="BWGridTooltip" bw-tooltip-settings="BWGridTooltipSettings">
        <div class="row">
            <div class="col-xs-12" ng-repeat="col in BWGridTooltip.content">
                <b>{{col.label}}: </b>
                <span>{{col.value}}</span>
            </div>
        </div>
    </div>
    <!--<div bw-tooltip="externalControllerForGridTooltip" bw-tooltip-settings="externalControllerForGridTooltipSettings">-->
        <!--<div class="row clickable-tooltip">-->
            <!--<div class="col-xs-12">-->
                <!--<img ng-src="{{externalControllerForGridTooltip.content.url}}" alt="{{externalControllerForGridTooltip.content.label}}" />-->
                <!--<span>{{externalControllerForGridTooltip.content.value}}%</span>-->
            <!--</div>-->
            <!--<div class="col-xs-12"><hr/></div>-->
            <!--<div class="col-xs-12 buttons-will-be-here">-->
                <!--<div class="bw-long-btn blue-btn" ng-class="{'btn-disabled' : numberOfManiacs < 2}" ng-click="keepOnly()">Keep only</div>-->
                <!--<div class="bw-long-btn blue-btn" ng-class="{'btn-disabled' : numberOfManiacs < 2}" ng-click="exclude()">Exclude</div>-->
                <!--<div class="bw-long-btn" ng-click="externalControllerForGridTooltip.hide()">Clear</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <h3 class="col-xs-12">Grid Component Demo</h3>
            <div class="bw-panel-tile col-xs-6">
                <div class="bw-panel-tile-header">
                    <span class="bw-panel-tile-header-title">GRID EXAMPLE</span>
                    <div class="bw-btn-group">
                        <div class="bw-btn">
                            <i class="bw-btn-icon icon-minus"></i>
                        </div>
                        <div class="bw-btn">
                            <i class="icon-cog bw-btn-icon"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bw-grid-group-input-panel">
                    <div bw-dropdown="groupingDropdown" bw-dropdown-settings="groupingDropdownSettings" style="width: 250px"></div>
                </div>
                <div class="grid-will-be-here">
                    <div bw-grid="BWGrid" bw-grid-settings="BWGridSettings"></div>
                </div>
            </div>
            <div class="bw-panel-tile col-xs-6">
                <div class="bw-panel-tile-header">
                    <span class="bw-panel-tile-header-title">SCATTERPLOT CHART</span>
                </div>
                <div class="chart-will-be-here" style="height: 620px; padding: 5px">
                    <div style="height: 610px">
                        <div bw-chart="BWChart" bw-chart-settings="BWChartSettings"></div>
                    </div>
                </div>
            </div>

            <!--<div class="bw-panel-tile col-xs-4">-->
                <!--<div class="bw-panel-tile-header">-->
                    <!--<span class="bw-panel-tile-header-title">EXTERNAL CONTROLLER</span>-->
                <!--</div>-->
                <!--<div class="chart-will-be-here">-->
                    <!--<div bw-chart="externalControllerForGrid" bw-chart-settings="externalControllerForGridSettings"></div>-->
                    <!--<div class="bw-long-btn red-btn" ng-class="{'btn-disabled' : numberOfManiacs === 4}" ng-click="restoreAll()">RESTORE ALL</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="grid-demo-controllers col-xs-12" >
            <div class="bw-long-btn red-btn" ng-click="onBigRedButtonClick()">
                <span>BIG RED BUTTON</span>
            </div>
        </div>
    </div>
    <br/>

    <div style="padding: 500px 0; text-align: center">
        <h1 id="testlink">I AM YOUR LINK!</h1>
    </div>
</div>


