<div class="map-demo-page-wrapper" style="padding-bottom: 500px">
    <div bw-tooltip="BWMapDemoTooltip" bw-tooltip-settings="BWMapDemoTooltipSettings">
        <div>
            <i class="flag flag-{{BWMapDemoTooltip.content.flag}}" ng-show="worldMapIsSelected"></i>
            <i class="usa-flag flag-{{BWMapDemoTooltip.content.flag}}" ng-show="!worldMapIsSelected"></i>
            <span>&nbsp;&nbsp;{{BWMapDemoTooltip.content.label}}</span>
        </div>
    </div>
    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <h3 class="col-xs-12">Interactive Map Demo</h3>

            <div class="bw-panel-tile col-xs-3" ng-show="false">
                <div class="bw-panel-tile-header">
                    <span class="bw-panel-tile-header-title">MAP SETTINGS</span>
                </div>
                <div class="map-settings-will-be-here" style="padding: 10px; height: 438px">
                    <div><b>Map to Show:</b></div>
                    <div bw-dropdown="availableMaps" bw-dropdown-settings="availableMapsSettings"></div>
                    <br/>
                    <div><b>Index By:</b></div>
                    <div bw-dropdown="indexingProperties" bw-dropdown-settings="indexingPropertiesSettings"></div>
                    <br/>
                    <div class="bw-long-btn red-btn" ng-click="refreshData()" style="margin: 0 auto">
                        <span>REFRESH DATA</span>
                    </div>
                </div>
            </div>

            <div class="bw-panel-tile col-xs-9">
                <div class="bw-panel-tile-header">
                    <span class="bw-panel-tile-header-title">{{availableMaps.selected.content.label}} MAP EXAMPLE</span>
                </div>
                <div class="map-will-be-here" style="height: 510px">
                    <div bw-map="BWMap" bw-map-settings="BWMapSettings"></div>
                </div>
            </div>

            <div class="bw-panel-tile col-xs-3">
                <div class="bw-panel-tile-header">
                    <span class="bw-panel-tile-header-title">MAP CONTROLLERS</span>
                </div>
                <div class="map-settings-will-be-here" style="padding: 10px; height: 510px">
                    <div><b>Map to Show:</b></div>
                    <div bw-dropdown="availableMaps" bw-dropdown-settings="availableMapsSettings"></div>
                    <div><b>Index By:</b></div>
                    <div bw-dropdown="indexingProperties" bw-dropdown-settings="indexingPropertiesSettings"></div><br/>
                    <div class="bw-long-btn red-btn" ng-click="refreshData()" style="margin: 0 auto">
                        <span>REFRESH DATA</span>
                    </div>
                    <hr/>

                    <div class="area-details-will-be-here" ng-show="worldMapIsSelected && selectedArea" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
                        <i class="flag flag-{{selectedArea.flag}}"></i><b>&nbsp;&nbsp;{{selectedArea.name}}</b><br/><br/>
                        <span><b>SOVEREIGNT: </b> {{selectedArea.sovereignt}}</span><br/>
                        <span><b>CONTINENT: </b> {{selectedArea.continent}}</span><br/>
                        <span><b>REGION: </b> {{selectedArea.region}}</span><br/>
                        <span><b>POPULATION: </b> {{selectedArea.population}}</span><br/>
                        <span><b>GDP: </b> {{selectedArea.gdp}}</span><br/>
                        <span><b>ECONOMY: </b> {{selectedArea.economy}}</span><br/>
                        <span><b>INCOME GDP: </b> {{selectedArea.incomeGrp}}</span>
                        <hr/>
                        <div class="bw-long-btn red-btn" ng-class="{'btn-disabled' : selectedArea.flag !== 'us'}" ng-click="onBigRedButtonClick(area)" style="margin: 0 auto">
                            <span>MORE DETAILS</span>
                        </div>
                    </div>

                    <div class="area-details-will-be-here" ng-show="!worldMapIsSelected && selectedArea" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
                        <i class="usa-flag flag-{{selectedArea.flag}}"></i><b>&nbsp;&nbsp;{{selectedArea.name + (selectedArea.state ? ', ' + selectedArea.state : '')}}</b><br/><br/>
                        <span><b>TOTAL PAR: </b> $ {{selectedArea.totalPar | bigNumber}}</span><br/>
                        <span><b>YIELD: </b> {{selectedArea.averageYield}}</span><br/>
                        <span><b>SECURITIES: </b> {{selectedArea.numberOfSecurities}}</span><br/>
                        <span><b>COUNTIES: </b> {{selectedArea.counties.length}}</span><br/>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

