<div class="progress-bar-demo-wrapper">
    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <h3 class="col-xs-12">Progress Bar Demo</h3>
            <div class="col-xs-4 bw-panel-tile" ng-repeat="pb in progressBars.getItems()">
                <div class="bw-panel-tile-header">
                    <span class="bw-panel-tile-header-title">{{pb.content.label}}</span>
                    <div class="bw-btn-group">
                        <div class="bw-btn" ng-show="!pb.content.isDancing" ng-click="makeItDance(pb)">
                            <i class="bw-btn-icon fa fa-play"></i>
                        </div>
                        <div class="bw-btn" ng-show="pb.content.isDancing" ng-click="stopDancing(pb)">
                            <i class="bw-btn-icon fa fa-pause"></i>
                        </div>
                        <div class="bw-btn" ng-class="{'is-disabled' : pb.content.isDancing}" ng-click="refreshBars(pb)">
                            <i class="bw-btn-icon fa fa-step-forward"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="progress-bar-will-be-here">
                    <div bw-progress-bar="pb.content.model" bw-progress-bar-settings="pb.content.settings"></div>
                </div>
            </div>
        </div>
    </div>
</div>