<div class="report-demo-page-wrapper" style="min-height: 1500px">
    <div bw-preview="reportPreview" bw-preview-settings="reportPreviewSettings"></div>

    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <div class="col-xs-12">
                <div class="bw-long-btn {{button.color}}"
                     ng-repeat="button in reportControllers.buttons"
                     ng-click="button.onClick()"
                     ng-class="{'btn-disabled' : !button.isActive}">
                    <span>{{button.getLabel()}}</span>
                </div>
                <span ng-show="!reportControllers.isLoadingOrGeneratingData">
                    <span ng-show="!reportControllers.dataIsGenerated">First you need to <b>get some data</b></span>
                    <span ng-show="reportControllers.dataIsGenerated && !reportControllers.previewIsReady">Now report could be <b>published on server</b></span>
                    <span ng-show="reportControllers.previewIsReady">Report <b>{{previewData.documentName}}</b> is published! Click <b>green button</b> to observe it</span>
                </span>
                <b ng-show="reportControllers.isLoadingOrGeneratingData">Wait...</b>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="bw-panel-tile col-xs-12" ng-repeat="account in report" ng-show="reportControllers.dataIsGenerated">
                        <div class="bw-panel-tile-header">
                            <span class="bw-panel-tile-header-title">{{account.title}}</span>
                        </div>
                        <div class="reports-wrapper" style="padding: 10px">
                            <div class="report-wrapper" style="margin-bottom: 20px">
                                <div class="grid-will-be-here" style="margin-bottom: 50px">
                                    <div bw-grid="account.grid.model" bw-grid-settings="account.grid.settings"></div>
                                </div>
                                <h4>Report visualization</h4>
                                <div class="chart-will-be-here" style="width: 100%; height: 300px">
                                    <div bw-chart="account.chart.model" bw-chart-settings="account.chart.settings"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="report-demo-page-overlay" ng-class="{'is-visible': reportControllers.isLoadingOrGeneratingData}">
        <div><i class="fa fa-refresh fa-spin"></i>PLEASE WAIT...</div>
    </div>
</div>
