<div class="timeline-demo-wrapper">
    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <h3 class="col-xs-12">Timeline Demo</h3>

            <div class="bw-panel-tile col-xs-12">
                <div class="bw-panel-tile-header">
                    <span class="bw-panel-tile-header-title">TIMELINE EXAMPLE</span>
                    <div class="bw-btn-group">
                        <div class="bw-btn">
                            <i class="bw-btn-icon icon-minus"></i>
                        </div>
                        <div class="bw-btn">
                            <i class="icon-cog bw-btn-icon"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="timeline-will-be-here">
                    <div bw-timeline="BWTimeline" bw-timeline-settings="BWTimelineSettings"></div>
                    <h4>Drag blue frame to change data in Grid</h4>
                </div>
            </div>

            <div class="bw-panel-tile col-xs-4">
                <div class="bw-panel-tile-header">
                    <span class="bw-panel-tile-header-title">TIMELINE EXAMPLE</span>
                    <div class="bw-btn-group">
                        <div class="bw-btn">
                            <i class="bw-btn-icon icon-minus"></i>
                        </div>
                        <div class="bw-btn">
                            <i class="icon-cog bw-btn-icon"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="grid-will-be-here" style="height: 412px">
                    <div bw-grid="BWGrid" bw-grid-settings="BWGridSettings"></div>
                </div>
            </div>
        </div>
    </div>
</div>