<div class="tooltip-demo-page-wrapper" style="height: 1500px">
    <div bw-tooltip="BWTooltip" bw-tooltip-settings="BWTooltipSettings">
        <div>{{BWTooltip.content}}</div>
    </div>

    <div class="container-fluid bw-panel">
        <div class="row-fluid">
            <h3 class="col-xs-12">Tooltip Plugin Demo</h3>
            <div class="bw-panel-tile col-xs-12">
                <div class="bw-panel-tile-header">
                    <span class="bw-panel-tile-header-title">MAD MAX QUOTES HERE</span>
                </div>
                <div class="tooltip-demo-page-tile" style="padding: 5px;">
                    <div class="row" style="margin: 0">
                        <div class="col-xs-3" ng-repeat="label in labels" style="height: 300px; border: 1px solid #DDD"
                             ng-mouseover="onMouseOver(label, $event)"
                             ng-mousemove="onMouseMove($event)"
                             ng-mouseout="onMouseOut($event)">
                            <span>{{label}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div bw-tooltip="BWTooltip" bw-tooltip-settings="BWTooltipSettings">-->
        <!--<div class="row demo-tooltip-1">-->
            <!--<div class="col-xs-12" ng-show="tiles.selected.content.name === 'default'">{{BWTooltip.content}}</div>-->
            <!--<div class="col-xs-12" ng-show="tiles.selected.content.name === 'colors'" ng-style="{'color': BWTooltip.content.hex}">-->
                <!--<b>HEX: {{BWTooltip.content.hex}}</b><br>-->
                <!--<b>RGB: {{BWTooltip.content.rgb}}</b><br>-->
                <!--<b>HSL: {{BWTooltip.content.hsl}}</b>-->
            <!--</div>-->
            <!--<div class="col-xs-12" ng-show="tiles.selected.content.name === 'withChartInside'">-->
                <!--<i>Any type of chart or other widget could be placed here</i>-->
                <!--<div bw-chart="TooltipDemoChart" bw-chart-settings="TooltipDemoChartSettings"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div bw-tooltip="BWTrickyTooltip" bw-tooltip-settings="BWTrickyTooltipSettings">-->
        <!--<div class="demo-tooltip-2">-->
            <!--<input class="bw-input" type="text"-->
                   <!--ng-model="clickableTile.label"-->
                   <!--ng-keypress="clickableTile.onKeyPress($event)"-->
                   <!--placeholder="CLICK ME!" />-->
            <!--<i class="fa {{item.content.icon}} clickable"-->
               <!--ng-click="item.select()"-->
               <!--ng-style="{'color': item.content.color}"-->
               <!--ng-repeat="item in clickableTile.icons.getItems()"></i>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="container-fluid bw-panel">-->
        <!--<div class="row-fluid">-->
            <!--<h3 class="col-xs-12">Tooltip Plugin Demo</h3>-->
            <!--<div class="bw-panel-tile col-xs-6" ng-repeat="tile in tiles.getItems()">-->
                <!--<div class="bw-panel-tile-header">-->
                    <!--<span class="bw-panel-tile-header-title">{{tile.content.label}}</span>-->
                <!--</div>-->
                <!--<div class="tooltip-demo-page-tile"-->
                     <!--ng-mousemove="tile.content.onMouseMove(tile, subItem, $event)"-->
                     <!--ng-mouseover="tile.content.onMouseOver(tile, subItem, $event)"-->
                     <!--ng-mouseout="tile.content.onMouseOut(tile, subItem, $event)"-->
                     <!--ng-style="getItemStyle(tile, subItem)"-->
                     <!--ng-repeat="subItem in tile.content.subItems">{{subItem.label}}</div>-->
            <!--</div>-->
            <!--<div class="bw-panel-tile col-xs-6">-->
                <!--<div class="bw-panel-tile-header">-->
                    <!--<span class="bw-panel-tile-header-title">AND THIS ONE IS CLICKABLE</span>-->
                <!--</div>-->
                <!--<div class="tooltip-demo-page-tile clickable-tile"-->
                     <!--ng-click="clickableTile.onClick($event)"-->
                     <!--style="height: 300px; padding-top: 140px; text-align: center; font-size: 20px">-->
                    <!--<i class="fa {{clickableTile.icons.selected.content.icon}}" ng-style="{'color': clickableTile.icons.selected.content.color}"></i><span>   {{clickableTile.label}}</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
