<!DOCTYPE html>
<html ng-app="myApp" animated-bgr>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title>CHART PROTOTYPE</title>

    <!--Font: google Orbitron-->
    <link href='http://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet' type='text/css'>

    <!-- Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Icon fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <!--Custom stylesheet-->
    <link rel="stylesheet" id="responsive-style-css" href="css/common.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/bond-chart.css" type="text/css" media="all">
</head>
<body ng-controller="mainCtrl">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="ctrl-panel" ng-class="{'col-xs-1': !leftPanelExpanded, 'col-xs-3': leftPanelExpanded}">
                <div class="row">
                    <div class="ctrl-panel-tile icon clickable col-xs-12" ng-click="leftPanelExpanded = !leftPanelExpanded">
                        <div>
                            <i class="ion-android-arrow-forward" ng-show="!leftPanelExpanded"></i>
                            <i class="ion-android-arrow-back" ng-show="leftPanelExpanded"></i>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="leftPanelExpanded">
                    <div ng-repeat="type in chartTypes.getItems()">
                        <div class="ctrl-panel-tile icon col-xs-9">
                            <div>{{type.label}}</div>
                        </div>
                        <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="type.select()">
                            <div><i ng-class="{'ion-android-checkbox-outline': type.isSelected, 'ion-android-checkbox-outline-blank': !type.isSelected}"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctrl-panel" ng-class="{'col-xs-10': (!leftPanelExpanded && !rightPanelExpanded), 'col-xs-6': (leftPanelExpanded && rightPanelExpanded), 'col-xs-8': ((leftPanelExpanded && !rightPanelExpanded) || (!leftPanelExpanded && rightPanelExpanded))}">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>{{chartTypes.selected.label}} CHART EXAMPLE</div>
                    </div>
                    <div class="col-xs-12">
                        <div bond-chart="BondChart" bond-chart-settings="BondChartSettings"></div>
                    </div>
                </div>
            </div>
            <div class="ctrl-panel" ng-class="{'col-xs-1': !rightPanelExpanded, 'col-xs-3': rightPanelExpanded}">
                <div class="row">
                    <div class="ctrl-panel-tile icon clickable col-xs-12" ng-click="rightPanelExpanded = !rightPanelExpanded">
                        <div>
                            <i class="ion-android-arrow-back" ng-show="!rightPanelExpanded"></i>
                            <i class="ion-android-arrow-forward" ng-show="rightPanelExpanded"></i>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="rightPanelExpanded">
                    <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="refreshRandomData()">
                        <div><i class="ion-refresh"></i></div>
                    </div>
                    <div class="ctrl-panel-tile icon col-xs-9">
                        <div>REFRESH DATA</div>
                    </div>
                    <div ng-show="collection.selected.type === 'roundChartData'">
                        <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="addItem()">
                            <div><i class="ion-plus-round"></i></div>
                        </div>
                        <div class="ctrl-panel-tile icon col-xs-9">
                            <div>SLICES: {{collection.getItems()[0].nestedCollection.getItems().length}}</div>
                        </div>
                        <div class="ctrl-panel-tile col-xs-3"
                             ng-repeat="item in collection.getItems()[0].nestedCollection.getItems() track by $index"
                             ng-click="removeItem(item)" ng-class="{'clickable': collection.getItems()[0].nestedCollection.getItems().length > 2}">
                            <div ng-style="{'background': item.color}"></div>
                        </div>
                        <div class="ctrl-panel-tile col-xs-{{((4 - (collection.getItems()[0].nestedCollection.getItems().length % 4)) * 3)}}"
                             ng-show="collection.getItems()[0].nestedCollection.getItems().length % 4">
                            <div></div>
                        </div>
                    </div>
                    <div ng-show="collection.selected.type === 'linearChartData'">
                        <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="addItem()">
                            <div><i class="ion-plus-round"></i></div>
                        </div>
                        <div class="ctrl-panel-tile icon col-xs-9">
                            <div>LAYERS: {{collection.getItems()[1].nestedCollection.getItems().length}}</div>
                        </div>
                        <div class="ctrl-panel-tile col-xs-3"
                             ng-repeat="item in collection.getItems()[1].nestedCollection.getItems() track by $index"
                             ng-click="removeItem(item)" ng-class="{'clickable': collection.getItems()[1].nestedCollection.getItems().length > 2}">
                            <div ng-style="{'background': item.color}"></div>
                        </div>
                        <div class="ctrl-panel-tile col-xs-{{((4 - (collection.getItems()[1].nestedCollection.getItems().length % 4)) * 3)}}"
                             ng-show="collection.getItems()[1].nestedCollection.getItems().length % 4">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid ctrl-panel">
        <div class="row-fluid" ng-show="BondChartSettings.type === 'pie' || BondChartSettings.type === 'donut'">
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>LEGEND</div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-9">
                        <div>INSET</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="BondChartSettings.roundChart.displayInset = !BondChartSettings.roundChart.displayInset">
                        <div><i ng-class="{'ion-android-checkbox-outline': BondChartSettings.roundChart.displayInset, 'ion-android-checkbox-outline-blank': !BondChartSettings.roundChart.displayInset}"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>SHOW</div>
                    </div>
                    <div ng-repeat="type in legendAppearanceTypes.getItems()">
                        <div class="ctrl-panel-tile col-xs-9">
                            <div>{{type.label}}</div>
                        </div>
                        <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="changeLegendAppearance(type)">
                            <div><i ng-class="{'ion-android-checkbox-outline': type.isSelected, 'ion-android-checkbox-outline-blank': !type.isSelected}"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid" ng-show="BondChartSettings.type === 'area' || BondChartSettings.type === 'linear'">
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>SCALES</div>
                    </div>
                    <div ng-repeat="type in linearChartScales.getItems()">
                        <div class="ctrl-panel-tile col-xs-9">
                            <div>{{type.label}}</div>
                        </div>
                        <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="changeLinearChartScale(type)">
                            <div><i ng-class="{'ion-android-checkbox-outline': type.isSelected, 'ion-android-checkbox-outline-blank': !type.isSelected}"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>DATA</div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-9">
                        <div>CUMMULATIVE</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="BondChartSettings.linearChart.cummulative = !BondChartSettings.linearChart.cummulative">
                        <div><i ng-class="{'ion-android-checkbox-outline': BondChartSettings.linearChart.cummulative, 'ion-android-checkbox-outline-blank': !BondChartSettings.linearChart.cummulative}"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>INTERPOLATION</div>
                    </div>
                    <div ng-repeat="type in linearChartInterpolations.getItems()">
                        <div class="ctrl-panel-tile col-xs-9">
                            <div>{{type.label}}</div>
                        </div>
                        <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="changeLinearChartInterpolation(type)">
                            <div><i ng-class="{'ion-android-checkbox-outline': type.isSelected, 'ion-android-checkbox-outline-blank': !type.isSelected}"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid" ng-show="BondChartSettings.type === 'bar'">
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-12">
                        <div>APPEARANCE</div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-9">
                        <div>COMPOSITE</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="BondChartSettings.barChart.composite = !BondChartSettings.barChart.composite">
                        <div><i ng-class="{'ion-android-checkbox-outline': BondChartSettings.barChart.composite, 'ion-android-checkbox-outline-blank': !BondChartSettings.barChart.composite}"></i></div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="changeBarChartMargin(-1)">
                        <div><i class="ion-minus-round"></i></div>
                    </div>
                    <div class="ctrl-panel-tile col-xs-6">
                        <div>MARGIN: {{BondChartSettings.barChart.margin * 10}}%</div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-3" ng-click="changeBarChartMargin(1)">
                        <div><i class="ion-plus-round"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid ctrl-panel">
        <div class="row-fluid">
            <div class="col-xs-8">
                <div class="row">
                    <div class="ctrl-panel-tile col-xs-12"><div></div></div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="ctrl-panel-tile icon clickable col-xs-6" ng-click="BondChart.saveAsPDF()">
                        <div>TO PDF <i class="fa fa-file-pdf-o"></i></div>
                    </div>
                    <div class="ctrl-panel-tile icon clickable col-xs-6">
                        <div>TO EXCEL <i class="fa fa-file-excel-o"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- JS-libs -->
<script type="text/javascript" src="/js/libs/jquery.js"></script>
<script type="text/javascript" src="/js/libs/underscore.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="/js/libs/angular-ui-router.js"></script>
<script type="text/javascript" src="/js/libs/d3.min.js"></script>
<script type="text/javascript" src="/js/libs/jspdf.min.js"></script>

<!-- Bootstrap compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- App-files -->
<script type="text/javascript" src="/js/app.js"></script>

<!-- Controllers -->
    <script type="text/javascript" src="/js/app-files/controllers/mainCtrl.js"></script>

<!-- Services -->
    <script type="text/javascript" src="/js/app-files/services/d3.service.js"></script>
    <script type="text/javascript" src="/js/app-files/services/selectable-list.service.js"></script>

<!-- Filters -->

<!-- Directives -->

<!-- BondChart -->
    <script type="text/javascript" src="/js/app-files/bond-chart/bond-chart.service.js"></script>
    <script type="text/javascript" src="/js/app-files/bond-chart/bond-chart-async-api.service.js"></script>
    <script type="text/javascript" src="/js/app-files/bond-chart/collection/bond-chart-collection.service.js"></script>
    <script type="text/javascript" src="/js/app-files/bond-chart/bond-chart-coloring.service.js"></script>
    <script type="text/javascript" src="/js/app-files/bond-chart/bond-chart-converter.service.js"></script>
    <script type="text/javascript" src="/js/app-files/bond-chart/bond-chart.directive.js"></script>

</body>
</html>